[2016-08-04 21:30] csf30816 opened #2 "Spelling error"
credits.scss should be credits.css

[2016-08-04 21:33] coke11 commented on #2
Fixed, thanks

[2016-08-04 21:33] #2 closed

[2016-08-04 21:47] csf30816 opened #4 "Sorry, but another bug"
card100's alt attribute for his img tag says csf30816's icon

Oh, yeah! And the <title> tags go into <head> tags not <body> tags

[2016-08-04 22:25] coke11 commented on #4
I am rather busy, can you create a fix in a PR?

[2016-08-04 22:25] csf30816 commented on #4
Yes

[2016-08-04 22:26] coke11 commented on #4
Thanks

[2016-08-05 15:30] #4 closed

[2016-08-05 22:11] coke11 opened #14 "Credits - Move ZLGames"
We need to have ZLGames moved from a Coder to a designer

[2016-08-05 23:33] Sheshank-s commented on #14
Ok got it!

[2016-08-05 23:38] csf30816 commented on #14
Closing this...

[2016-08-05 23:38] #14 closed

[2016-08-05 23:50] coke11 opened #15 "Credits Page"
Hey, the user links aren't working on the Credits page because there is no "http://" before www. Can someone add http before every  link? Thanks!

[2016-08-06 00:08] coke11 commented on #15
fixed

[2016-08-06 00:08] #15 closed

[2016-08-06 11:19] golden-scratch opened #18 "Where's the GitHub preview site?"
Somewhere I managed to find like a github.io site of DragonDrop which had index.html. Do any of you people know what the URL is?

[2016-08-06 13:19] coke11 commented on #18
@golden-scratch This was the test site. I am working on getting the normal site up on gh-pages.

[2016-08-06 13:19] #18 closed

[2016-08-06 13:20] coke11 commented on #18
If you want the test site url I think it is dragon-drop-scratch.github.io/backup

[2016-08-06 13:21] coke11 commented on #18
@golden-scratch I have got the normal site up on GHpages for testing. It can be accessed here
http://dragon-drop-scratch.github.io/dragon-drop-www

[2016-08-06 14:17] MeridiumDevelopment commented on #18
Thank you.

[2016-08-06 14:22] coke11 commented on #18
No problem

_adri326: Huh I can edit comments from other people?_

[2016-08-06 20:18] coke11 opened #20 "Issues With Sign Up Forms"
# [Form Selection Page](dragon-drop-scratch.github.io/dragon-drop-www/sign-up.html)
- When you click "Yes" the green box moves
# [Scratcher form ](https://dragon-drop-scratch.github.io/dragon-drop-www/scratcherform.html)
- Let's you enter a username that does not exist on the Scratch Website
- Let's you use all numbers as your password. You need at least 2 letters, and one number
- **Does not have

[2016-08-06 20:22] csf30816 commented on #20
OK, w3schools.com shows you how to validate a form with many different languages, we could learn how and the do it :smiley_cat:

[2016-08-06 20:23] coke11 commented on #20
OK, I asked jvvg for help with the verification. He normally gets on about every other day, so we can't wait on that for now

Csf30816: OK

[2016-08-06 20:25] csf30816 commented on #20
OK

[2016-08-06 20:26] coke11 commented on #20
The first thing we need to do is figure out a way to check if the pass they enter meets the password requirements

Csf30816: OK

[2016-08-06 20:27] csf30816 commented on #20
OK

[2016-08-06 20:31] Sheshank-s commented on #20
I got this but I can start working at 5

[2016-08-06 20:32] coke11 commented on #20
What time zone are you in?

[2016-08-06 20:33] csf30816 commented on #20
It's 3:32 PM here

[2016-08-06 20:33] coke11 commented on #20
Same here I am asking @GreenBayRules

[2016-08-06 20:33] csf30816 commented on #20
OK.... Wow! We might even live in the same state

[2016-08-07 01:15] coke11 commented on #20
You know how I thought I knew you in real life XD. No I have a feeling we don't

[2016-08-07 18:41] GreenBayRules opened #21 "Bugs with Contact page"
Ok so here is the code for it: <!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
  <title>DragonDrop --- Contact</title>
  <style>
  h1 {
     font-family:'Play', sans-serif;
     align-text:center;
  }
  </style>
</head>
<body>

<h1>Contact Us:</h1>

<h2>Note: All fields are mandatory.</h2>
<br>
<br>

<iframe src="http://www.123contact

[2016-08-07 19:46] Sheshank-s commented on #21
nvm fixed it

[2016-08-07 19:46] #21 closed

[2016-08-08 18:44] csf30816 commented on #20
lol! Onit

[2016-08-08 18:56] card100 opened #22 "Bug on home (index)"
Sign Up button moves when pressed on

[2016-08-08 19:02] coke11 commented on #22
This is a known bug, and I am currently fix it.

Update: Can't seem to figure it out. @csf30816 - Could you take a look?

[2016-08-08 19:20] coke11 commented on #20
Awesome :)

[2016-08-08 19:41] card100 opened #23 "Sign up after Scratcher question"
After Scratcher question when signing up, can we put a background behind the text to make better to read?

[2016-08-08 19:47] coke11 commented on #23
Can you please explain what you mean?

[2016-08-08 21:40] csf30816 commented on #20
What green box?

[2016-08-09 00:12] card100 opened #24 "Contact Form Not load CSS"
The contact form (at least for me) did not load the CSS.
https://dragon-drop-scratch.github.io/dragon-drop-www/Contact.html

[2016-08-09 00:37] coke11 commented on #24
Not loading for me either. Let me take a look...

[2016-08-09 00:38] coke11 commented on #24
It doesn't look like there is a CSS file for the Contact page. Maybe it got deleted. Strange!

[2016-08-09 00:49] coke11 opened #25 "No CSS on 404 Page"
I recently received a 404 and it looked like this:
![no css](https://cloud.githubusercontent.com/assets/18141280/17501099/1d437e30-5da1-11e6-9e62-ee7011cb56d7.png)
As you can tell, the CSS is NOT there. I tried going to /404 and the CSS was there. What is going on?

[2016-08-09 00:57] coke11 commented on #20
The "Sign Up" and "Reset" ones

On Mon, Aug 8, 2016 at 4:40 PM, csf30816 notifications@github.com wrote:

[2016-08-09 12:11] ghost commented on #25
Ahhh.  I see.  They were using relative (like `/hi`) css urls instead of direct (like `http://site.com/hi`).

[2016-08-09 12:14] ghost commented on #23
@card100 I think a different font/color/weight would work better

[2016-08-09 15:56] csf30816 commented on #25
It looks fine to me:
![capture](https://cloud.githubusercontent.com/assets/18520232/17523346/dbf97f2c-5e1f-11e6-848d-7cf9f11fd45c.JPG)

[2016-08-09 15:57] csf30816 commented on #24
I got this

[2016-08-09 21:03] card100 commented on #24
Fixed

[2016-08-09 21:03] #24 closed

[2016-08-09 21:04] card100 commented on #25
Fine for me too

[2016-08-09 21:04] card100 commented on #23
Just put a background behind them

[2016-08-09 21:14] csf30816 commented on #22
OK, I noticed this too

[2016-08-09 21:15] card100 opened #27 "Contact Us page requires Scratch username"
Contact Us page requires a Scratch username.  Can only Scratcher's contact us?

[2016-08-09 21:21] coke11 commented on #22
@csf30816 - Any idea as to why this might be happening?

[2016-08-09 21:22] csf30816 commented on #22
Yes, and I just fixed it

[2016-08-09 21:22] coke11 commented on #27
Originally it asked for email, but because of a request from the Scratch Team it now ask for the Scratchers username. We are trying to figure out a way for non scratchers to be able to use email :)

[2016-08-09 21:24] csf30816 commented on #20
OH, really? That does not happen to me

[2016-08-09 21:26] csf30816 commented on #27
How about username, since both use a username

[2016-08-09 21:29] coke11 commented on #27
What if someone doesn't have a username on Dragon Drop?

[2016-08-09 21:33] coke11 opened #28 "Contact Page form on top of menu bar"

[2016-08-09 21:37] csf30816 commented on #27
Then why would they be contacting?

[2016-08-09 21:38] csf30816 commented on #28
OH, I have absolutly no idea how to fix this at all ask the one who made the form

[2016-08-09 21:41] coke11 commented on #28
@packersrulegopack and I made it. I am working on fixing it

[2016-08-09 21:41] csf30816 commented on #28
OK

[2016-08-09 22:12] card100 opened #29 "Logo on About page"
Can we make the logo on the about page
1. Not hang over sides
2. Be a png so that it doesn't have white corners

[2016-08-10 00:19] coke11 commented on #29
On it

[2016-08-10 01:26] card100 opened #30 "Credits Page Nav Bar"
Most links don't work

[2016-08-10 01:28] card100 opened #31 "FAQ Page doesn't have complete Nav Bar"

[2016-08-10 18:56] golden-scratch opened #32 "No home button on navbar"
No home button that redirects you to index.html on navbar.

Maybe add the logo at the top with navbar, when you click that it redirects you to index?

[2016-08-10 19:02] csf30816 commented on #32
I am fixing it

[2016-08-10 19:46] #22 closed

[2016-08-10 19:46] coke11 opened #33 "Sign Up Button To Far Down"
Can we move it up?

[2016-08-10 20:12] NaturalmotionStudios opened #35 "No access to repository"
Can I have access to this? (Considering that I'm a backend and translator)

[2016-08-10 20:34] Sheshank-s commented on #35
sure, why not?

[2016-08-10 20:36] Sheshank-s commented on #35
But you have to wait for coke11, he is the only person who can add people

[2016-08-10 21:16] zspri commented on #35
Ok

[2016-08-10 21:46] coke11 commented on #35
Sure

[2016-08-10 21:46] #35 closed

[2016-08-10 21:56] csf30816 commented on #32
Done

[2016-08-10 21:56] #32 closed

[2016-08-10 21:56] #31 closed

[2016-08-10 21:56] csf30816 commented on #33
Yes, but where?

[2016-08-10 21:57] #30 closed

[2016-08-11 14:34] card100 commented on #33
Not anymore

[2016-08-11 14:34] #33 closed

[2016-08-11 14:34] card100 opened #36 "CSS not coming in for Home page"

[2016-08-11 14:38] #23 closed

[2016-08-11 14:39] card100 commented on #20
Or me

[2016-08-11 14:39] #27 closed

[2016-08-11 14:40] card100 opened #37 "Sign Up not by Log In on Nav Bar in Home Page"

[2016-08-11 14:50] card100 opened #38 "Log In page Nav Bar Down"
![log in bug](https://cloud.githubusercontent.com/assets/17168923/17592753/141584a2-5fa9-11e6-800d-03be7655d44b.png)

[2016-08-11 15:11] coke11 opened #39 "Hompage looks wrong"
Just look at the homepage

[2016-08-11 16:01] csf30816 commented on #39
Whoa! Part of it looks cool but the bottom has no style, I will fix this

[2016-08-11 16:26] csf30816 commented on #39
Does this look better https://csf30816.github.io/html5/

[2016-08-11 20:10] #39 closed

[2016-08-11 20:10] #36 closed

[2016-08-12 00:16] #37 closed

[2016-08-12 00:46] card100 opened #40 "Mobile Home"
Is really behind

[2016-08-12 22:47] coke11 commented on #40
We have decided will will work on mobile after the site itself is done :)

[2016-08-12 22:47] #40 closed

[2016-08-13 00:37] NaturalmotionStudios opened #41 "Credits.html isn't up to date"

[2016-08-14 20:51] coke11 opened #42 "Contact Us"
The Contact Us page should ask if you are a Scratch user or not, and if so show the 1st form, and if not show the second form. Anyone want to do this?

(I am working on getting us hooked up with fresh desk)

[2016-08-14 21:32] coke11 commented on #41
Could you update it?

[2016-08-14 21:35] #29 closed

[2016-08-14 22:12] Sheshank-s commented on #42
Fixed!

[2016-08-14 23:09] coke11 commented on #42
Not showing on my end....

[2016-08-15 00:55] zspri commented on #41
I don't know how to use Scratch's CDN with our logos. (d'oh!)

[2016-08-15 13:46] zspri commented on #41
Fixed xD

[2016-08-15 13:46] #41 closed

[2016-08-15 23:07] card100 opened #43 "Easter Bunny Bigger"

[2016-08-16 20:55] #43 closed

[2016-08-17 14:26] coke11 commented on #25
How were you getting there? Did you go /404? This is when I get it from really typing the wrong address.

[2016-08-17 14:27] coke11 commented on #20
Doesn't happen to me anymore. But we still need to work on the rest of this list

[2016-08-17 14:29] coke11 opened #44 "Credits page shows &nbap;"
in the bottom row

[2016-08-17 17:20] CosmicWebServices commented on #44
Fixed

[2016-08-17 17:20] #44 closed

[2016-08-17 17:21] CosmicWebServices opened #45 "Error on terminal"
c:/Users/shesh_000/Downloads/79A0zk.png
Failed to load resource: unsupported URL
On credits.html

[2016-08-18 01:16] coke11 opened #47 "Animation in footer"
Look at the footer as you scroll down in chrome

Not able to repro in Safari
Unknown for firefox

[2016-08-18 01:22] zspri commented on #44
Oops, my mistake (I was trying to update it)

[2016-08-18 11:51] coke11 commented on #44
It's fine ;)

[2016-08-18 14:21] MeridiumDevelopment commented on #45
All I know is that the unsupported URL comes because it's a file destination...

I'll assign some developers on the Trello, as I have not yet seen that error. Also the .png file is the signature, not the top image on the Credits.HTML page.

[2016-08-18 14:26] CosmicWebServices commented on #45
OK thanks!

[2016-08-19 00:58] coke11 opened #48 "Credits Page"
Can we add the following text to the credits page?

golden-scratch | Austinato | card100

(linking to their profiles of corse)

I also added a little more at the bottom of the credits page, if anyone is interested in making it look better (I could easily edit it myself, but am trying to catch up on what all happened when I was gone.)

thanks

[2016-08-19 01:10] coke11 commented on #45
@csf30816 - Do you have time to look into this?

[2016-08-19 12:39] CosmicWebServices commented on #48
I will do this today

[2016-08-19 17:29] coke11 commented on #48
Awesome, you are the best

[2016-08-19 17:40] CosmicWebServices commented on #48
Aww

[2016-08-19 17:47] #48 closed

[2016-08-22 14:29] Firedrake969 opened #49 "Copied code?"
[Your footer.jsx](https://github.com/dragon-drop-scratch/dragon-drop-www/blob/gh-pages/footer.jsx) and [scratch-www's footer](https://github.com/LLK/scratch-www/blob/develop/src/components/footer/www/footer.jsx) seem extremely similar.  If you do plan on using it, you might want to take a look at [scratch-www's licence](https://github.com/LLK/scratch-www/blob/develop/LICENSE) ;)

[2016-08-22 14:38] coke11 commented on #49
I agree. This was just a simple template we were using, that would never get in the final product. Deleting the file now

[2016-08-22 14:38] #49 closed

[2016-08-22 15:00] Firedrake969 opened #50 "Code ownership"
According to [this](http://opensource.stackexchange.com/questions/2907/does-the-owner-of-the-github-repository-own-the-copyright-to-the-code), you can't just claim copyright ownership of any code that's contributed, unless

[2016-08-22 15:14] coke11 commented on #50
OK? This code is all original

[2016-08-22 15:15] matthewr6 commented on #50
I'm referencing this:

[2016-08-22 15:24] coke11 commented on #50
Ah, ok. Thanks for letting me know

[2016-08-22 15:25] coke11 commented on #50
c/c @golden-scratch Please remove this from the redeem file. Thank you

[2016-08-22 15:26] matthewr6 commented on #50
Redeem the readme!  :tada:

[2016-08-22 15:31] MeridiumDevelopment commented on #50
Removed statement. ;)
Closed.

[2016-08-22 15:31] #50 closed

[2016-08-22 19:03] CosmicWebServices opened #51 "Footer is broken"

[2016-08-23 11:28] coke11 commented on #51
How is the footer broken?

[2016-08-23 12:30] CosmicWebServices commented on #51
keep scrolling down

[2016-08-23 15:13] coke11 commented on #51
Is it the animation?

On Tue, Aug 23, 2016 at 7:30 AM, Cosmic Web Services <
notifications@github.com> wrote:

[2016-08-23 15:59] CosmicWebServices commented on #51
no clue

[2016-08-23 15:59] CosmicWebServices commented on #51
I will take a screenshot

[2016-08-23 16:01] CosmicWebServices commented on #51
![screen shot 2016-08-23 at 12 00 19 pm](https://cloud.githubusercontent.com/assets/10731781/17899409/47c4183e-6929-11e6-9bb7-04009d79bb79.png)

[2016-08-23 16:38] coke11 commented on #51
This is a known bug. No one knows how to fix it

[2016-08-23 17:01] NaturalmotionStudios opened #52 "Signup results in error 405"

[2016-08-23 17:49] coke11 commented on #52
This is because github does not support PHP, this will be fixed when we move to our servers

[2016-08-23 17:49] #52 closed

[2016-08-23 18:58] CosmicWebServices commented on #51
OK

[2016-08-23 18:58] #51 closed

[2016-08-23 18:58] zspri commented on #52
@coke11 Okay :D

[2016-08-24 21:24] Sheshank-s commented on #42
Really! It seems to work for me...

[2016-08-24 21:25] Sheshank-s commented on #42
Oh now i get what you mean!

[2016-08-24 21:25] Sheshank-s commented on #42
I only see one form, I will add another one...

[2016-08-24 22:48] liam4 opened #53 "DB password in code"
If this password is used *anywhere* else, change it *immediately*. You can't get rid of that password from this repository's history.

See scratcher.php.

[2016-08-24 23:04] Sheshank-s commented on #42
Ok it works now, but it just needs more css, and I need to make the Scratcher Contact

[2016-08-24 23:04] #42 closed

[2016-08-24 23:06] Sheshank-s commented on #45
Oops! Sorry that was me, i will fix it!

[2016-08-25 00:22] zspri commented on #53
Thank you for letting us know, I've temporarily censored it. :)

[2016-08-25 00:44] CosmicWebServices commented on #53
problem you can go to the commit history and still see it

[2016-08-25 21:19] coke11 commented on #53
This pass is not used anywhere else, it is a test database just for DragonDrop with the username as the password of one of our members

[2016-08-25 21:19] #53 closed

[2016-08-25 21:33] CosmicWebServices commented on #53
ok

[2016-08-26 23:47] csf30816 commented on #53
Yes, I noticed that when I made the code, I was hoping that we could save it somewhere and delete it from Github or something else, if you want I can change the password for the DB

[2016-08-26 23:52] csf30816 commented on #45
It looks like it is fixed:
![capture](https://cloud.githubusercontent.com/assets/18520232/18023547/e867abe6-6bbf-11e6-980b-ca8f89c85187.PNG)
So I am closing this :)

If it is not fixed please tell me what is wrong, and I will re-open this, thank you - Csf30816

[2016-08-26 23:54] csf30816 commented on #47
I just see the normal footer :) I do not see the GIF in it.
![capture](https://cloud.githubusercontent.com/assets/18520232/18023455/ded183e6-6bbe-11e6-8d09-df050979b21b.GIF)
![capture](https://cloud.githubusercontent.com/assets/18520232/18023478/2beb6b42-6bbf-11e6-94c8-d35086204a2a.GIF)

[2016-08-27 00:01] coke11 commented on #53
@csf30816 Just change the pass, thanks

[2016-08-27 00:07] #45 closed

[2016-08-27 00:35] csf30816 commented on #53
OK, EDIT: Password Changed :)

[2016-09-02 00:58] coke11 commented on #47
@csf30816 Interesting... Staging?

[2016-09-02 00:59] coke11 commented on #38
@csf30816 @CosmicWebServices @card100 bump

[2016-09-02 19:12] Sheshank-s commented on #20
Hm ok, I will start working on this.

[2016-09-02 19:23] Sheshank-s commented on #20
For the scratch verification thing, I can do that, whenever someone registers, Ill go on their profile and comment. And then once that is verified I can accept the account.

[2016-09-02 19:40] Sheshank-s commented on #20
You cant use "password" as your pass anymore!

[2016-09-02 19:48] Sheshank-s commented on #20
You cant only have numbers in your password now!

[2016-09-02 19:52] Sheshank-s commented on #20
You cant only have letters in your password now!

[2016-09-02 19:55] Sheshank-s commented on #20
Ok, what you want to use Dragon Drop for is buttons.

[2016-09-02 19:55] Sheshank-s commented on #20
Done.

[2016-09-02 19:55] Sheshank-s commented on #20
Oops, we still need to do Scratch username confirmation

[2016-09-03 01:41] zspri commented on #20
If we could do some sort of an automated message on their profile or something. Then they have to enter a key, for example: `CdJxK4pUTh` to access their account.

[2016-09-03 01:43] zspri commented on #38
I'm pretty sure someone fixed this.

[2016-09-03 01:43] #38 closed

[2016-09-03 01:52] Sheshank-s commented on #38
@NaturalmotionStudios Yep i did!

[2016-09-03 05:25] Sheshank-s commented on #20
Yeah

[2016-09-03 05:25] Sheshank-s commented on #20
I just need to know how to comment on their profile using code.

[2016-09-03 05:25] Sheshank-s commented on #28
Done

[2016-09-03 05:25] #28 closed

[2016-09-03 05:29] GreenBayRules opened #54 "Bugs with Organizing (Mostly done)"
I made everything folders, and many bugs came up. I fixed almost all of them except for one, which I really don't want to do. Basically someone has to go through and replace all the "./EXAMPLE_PAGE.html" with "dragon-drop-scratch.github.io/dragon-drop-www/FOLDER_NAME/EXAMPLE_PAGE.html" I really don't want to do it because I just went through and fixed a TON of bugs that came with organizing the fi

[2016-09-03 15:11] coke11 commented on #20
I was thinking we could do something sort of like for the wiki sign up

[2016-09-03 15:13] coke11 commented on #54
Thanks for the report :). Please remember to only assign to 3 people at the most for now on though, thanks :)

[2016-09-03 15:20] coke11 commented on #54
C/c could you look into this @csf30816 Prio high

`Comment From @Csf30816: - What does Prio high mean?`

[2016-09-03 15:23] coke11 commented on #54
We should also make an info folder

[2016-09-03 16:11] csf30816 commented on #54
You do not have to replace it with `dragon-drop-scratch.github.io/dragon-drop-www/FOLDER_NAME/EXAMPLE_PAGE.html` you can replace it with `../EXAMPLE_PAGE.html` you put '.'s where ever a folder name is :)

[2016-09-03 16:29] csf30816 commented on #20
`Quote: You cant use "password" as your pass anymore!` I already had that fixed

[2016-09-03 21:06] zspri commented on #47
I didn't know there was supposed to be a GIF in the footer, and I think it looks better this way.

[2016-09-03 21:12] zspri commented on #20
Like this: http://imgur.com/mkFYkNW.png

We could ask the ST.

[2016-09-03 21:34] csf30816 commented on #20
Cool!

I think more like this:
![capture](https://cloud.githubusercontent.com/assets/18520232/18227767/2c4586a4-71f5-11e6-8445-bb5a2318db3f.PNG)

[2016-09-03 21:49] csf30816 commented on #20
I had this idea of manually commenting on their profile and manually setting up their domain when they reply.

[2016-09-04 10:50] joker314 commented on #20
1. Let's you enter a username that does not exist on the Scratch Website
   Easy enough, you should use an on-blur event for client size verification (use an XMLHttpRequest to https://scratch.mit.edu/accounts/check_username/USERNAMEGOESHERE/) and do a similar thing on the server side.
2. Let's you use all numbers as your password. You need at least 2 letters, and one number
   First of all, not ne

[2016-09-04 13:56] joker314 opened #56 "Terms of Service are bad"
#55 explains it quite well.

People can take advantage of it to get away with some stuff.

[2016-09-04 15:22] Sheshank-s commented on #20
It doesn't let you have all numbers as ur pass anymore and we are still working on a verification process

Sent from my iPhone

[2016-09-04 17:24] coke11 commented on #20
I was thinking it could be sort of like signing up for the wiki, having to post something on a certain forum topic, or getting a comment on your profile with a code you must enter.

[2016-09-04 17:27] coke11 commented on #20
@GreenBayRules +1

[2016-09-04 17:32] coke11 commented on #56
Continue on PR :)

[2016-09-04 17:32] #56 closed

[2016-09-04 18:19] csf30816 commented on #20
@joker314 I had that same idea!

[2016-09-05 13:24] CosmicWebServices commented on #47
I think we should remove it makes no sense why we need an animate footer

[2016-09-05 14:44] Sheshank-s commented on #47
We need a footer.. When I made. The footer i didn't add any animation., it's a problem with the existing css

Sent from my iPhone

[2016-09-05 15:54] NaturalmotionStudios opened #57 "Fix the 404 page"

[2016-09-05 16:52] coke11 commented on #20
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;jsy88oeT&#x2F;173-bug"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Bug</a>

[2016-09-05 16:58] csf30816 commented on #20
Hmm

[2016-09-05 17:11] csf30816 commented on #20
I removed the bug tag cuz this is not a bug.... It is just something we need to work on, when I made it it had only some of these, so it's not a bug

[Note from coke: I know this will sound CRAZY, but because this is sort of official, we are making something big, and this is on GitHub please  do not use words like "cuz". Thanks

[2016-09-05 17:21] csf30816 commented on #57
Fixed

[2016-09-05 18:25] Sheshank-s commented on #54
@coke11 @csf30816 @card100 So whos doing this?

[2016-09-05 18:54] zspri commented on #57
Thanks

[2016-09-05 19:05] zspri commented on #20
@csf30816 That looks too much like an advertisement. Maybe: Click to redeem the code for your DragonDrop account!

Also, a very useful Wiki article on the Scratch API: https://wiki.scratch.mit.edu/wiki/Scratch_API_(2.0)

[2016-09-05 19:20] zspri commented on #54
Fixed the links on Credits.html

[2016-09-05 19:25] zspri commented on #57
This isn't fixed...

[2016-09-05 23:46] csf30816 commented on #20
I have seen that article, I work on the wiki :)

[2016-09-05 23:50] csf30816 commented on #20
I thikn the verificaton code should be the current amount of projects (https://api-staging.scratch.mit.edu/projects/count/all) and then the users name converted to base64. EX: 7111211Y3NmMzA4MTY= is 7111211csf30816

[2016-09-05 23:52] Sheshank-s commented on #54
I already fixed all of them. Including the credits link😜

Sent from my iPhone

[2016-09-06 14:05] CosmicWebServices commented on #47
Oh well I will check it out

[2016-09-06 16:50] coke11 commented on #20
@csf30816 I don't understand what you mean

[2016-09-06 16:53] coke11 commented on #47
I have found another piece of info. This only happens on the homepage. Not the other pages with the footer. Could it possibly have to do with the homepage?

[2016-09-06 16:56] coke11 commented on #57
#25

[2016-09-06 16:57] coke11 commented on #57
@csf30816 How did you fix?

At first I thought it was just the CSS that was broken

[2016-09-06 17:05] coke11 commented on #54
@GreenBayRules Have you fixed this or not? It sounds like you have, but this is still open :/

[2016-09-06 17:31] coke11 opened #58 "Credits page"
I added a new section on the credits page that reads

Can we add these users and their profile pics? Thanks

m99900
pioutch
Pufflegamerz
Austinato
makethebrainhappy

Also - Can we get rid of Austinato from the last section? Then add another section with websites that helped us.

We also need all profile picks in the last section. Thanks again!

[2016-09-06 21:45] Sheshank-s commented on #47
I know the problem. Someone put the animation in the css of the homepage

Sent from my iPhone

[2016-09-06 21:46] Sheshank-s commented on #58
Sure I'll do this once I get home.. I might not be as active now that school started.

Sent from my iPhone

[2016-09-06 21:47] Sheshank-s commented on #54
Yeah I did😀

Sent from my iPhone

[2016-09-06 22:29] zspri commented on #57
No... It's the Github 404, not ours. It's probably because it's in /ErrorPages/.

[2016-09-07 17:58] coke11 commented on #57
ah. I can put together a quick fix for this.

[2016-09-07 17:59] coke11 commented on #57
Although I am wondering if this would still happen on my servers... Let's not do anything with this issue, and remind me later to try to fix it & test on our servers.

[2016-09-07 18:00] coke11 commented on #25
Cannot repro because of #57. See comment there - for time being this is closed.

[2016-09-07 18:00] #25 closed

[2016-09-07 18:03] coke11 commented on #58
@GreenBayRules Sounds great - Thanks

BTW that is no problem. Just make sure you do your assigned jobs, and get 10 points a week. (this job is worth 3 points. If possible submit this as a PR rather then just making the edit. Thanks

[2016-09-07 18:08] coke11 commented on #28
@GreenBayRules Thanks - 2 points

[2016-09-07 18:26] coke11 commented on #47
@GreenBayRules AH, ok. Do you think you could put together a quick fix for this

[2016-09-07 18:30] coke11 commented on #54
@GreenBayRules A few pages still aren't working...

[2016-09-07 21:44] Sheshank-s commented on #58
Ok I already have 42 points

Sent from my iPhone

[2016-09-09 04:14] coke11 commented on #58
@GreenBayRules The ones for orgranizing don't count yet because it is not done. but ya

[2016-09-09 13:25] Sheshank-s commented on #58
Yeah they are.. The bugs are all gone

Sent from my iPhone

[2016-09-10 15:33] coke11 commented on #58
hm, ok. I just saw one like 2 secs ago...

On Fri, Sep 9, 2016 at 8:25 AM, Sheshank Shankar notifications@github.com
wrote:

[2016-09-10 16:05] coke11 opened #60 "Text on homepage not showing up"
The following text:

is not showing up on the homepage. The first part shows up and then it stops going

[2016-09-10 16:23] zspri commented on #60
It's probably just something wrong with the CSS.

[2016-09-10 16:39] zspri commented on #60
Not sure what's wrong. Ask @GreenBayRules, he made it.

[2016-09-11 12:51] NaturalmotionStudios opened #61 "CSS broken on certain pages"
scratcherformSignUp.html
normalusersignup.html
login.html
userpage-example.html

and a couple more.

[2016-09-11 15:22] csf30816 commented on #61
I got this

[2016-09-11 15:22] csf30816 commented on #57
Fixed

[2016-09-11 15:28] csf30816 commented on #57
Um, when we put it on your servers instead of having 404.md, 503.md, and 403.md we will have to have .htaccess with the following code:

`ErrorDocument 403 /403.html`
`ErrorDocument 404 /404.html`
`ErrorDocument 503 /503.html`
`ErrorDocument 500 /500.html`

[2016-09-11 15:34] csf30816 commented on #61
That should do it :)

[2016-09-11 15:34] #61 closed

[2016-09-11 15:34] #57 closed

[2016-09-11 16:19] Sheshank-s commented on #60
Ok fixed!

[2016-09-11 16:19] #60 closed

[2016-09-11 16:19] Sheshank-s commented on #54
Ok csf finished the rest!

[2016-09-11 16:19] #54 closed

[2016-09-11 16:20] Sheshank-s commented on #47
Hmm I am not sure. I do know that card100 made the animation for a different element in the homepage, and then deleted that element, but not the css (Im guessing?)

[2016-09-11 16:21] Sheshank-s commented on #20
Ok I got it! I found the code for commmenting on someones profile!

[2016-09-11 17:57] csf30816 commented on #47
Fixed

[2016-09-11 17:57] #47 closed

[2016-09-11 18:22] Nanomotion opened #62 "Issues with "Sign in with Google" button"
(The following was provided by coke11, because for some reason I can edit other people's responses from my account)
(Thats weird I can too!)
The nav bar bug was fixed. Now we need to focus on the button not working at all. I get a google error

[2016-09-11 18:57] csf30816 commented on #62
I got this

[2016-09-11 19:17] csf30816 commented on #62
There is nothing we can do about this, it is the Google CSS that makes it like this. there is a `position: relative;` in there CSS and we can not make it a `position: initial;` or `­`

[2016-09-11 23:15] zspri commented on #62
Ok, thanks

[2016-09-13 21:38] coke11 commented on #58
@NaturalmotionStudios do you think you would be able to take care of this? thanks

[2016-09-16 10:47] zspri commented on #58
@coke11 Ok

Sorry I wasn't here to help that much for the past 3 days.

[2016-09-16 22:32] coke11 commented on #58
@NaturalmotionStudios @csf30816 Who wants to do this?

[2016-09-16 22:57] zspri commented on #58
@coke11 Me!

[2016-09-16 23:32] zspri commented on #58
Finished (I think)

[2016-09-16 23:55] coke11 commented on #58
THANK YOU

[2016-09-17 01:30] Sheshank-s commented on #58
This was finished a while ago

Sent from my iPhone

On Sep 16, 2016, at 4:55 PM, coke11 <notifications@github.com<mailto:notifications@github.com>> wrote:

THANK YOU

##

You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/dragon-drop-scratch/dragon-drop-www/issues/58#issuecomment-247734214, or mute the threadhttps://github.com/notif

[2016-09-17 11:54] coke11 commented on #58
It was? Please close these issues when finishing them, thanks

[2016-09-17 14:16] Sheshank-s commented on #58
Sorry I forgot!! Will remember next time

Sent from my iPhone

On Sep 17, 2016, at 4:54 AM, coke11 <notifications@github.com<mailto:notifications@github.com>> wrote:

It was? Please close these issues when finishing them, thanks

##

You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/dragon-drop-scratch/dragon-drop-www/issues/58#iss

[2016-09-17 15:00] zspri commented on #58
@coke11 np

[2016-09-17 18:46] coke11 commented on #58
@GreenBayRules It's fine :)

[2016-09-17 18:56] Sheshank-s commented on #58
:D

Sent from my iPhone

On Sep 17, 2016, at 11:47 AM, coke11 <notifications@github.com<mailto:notifications@github.com>> wrote:

@GreenBayRuleshttps://github.com/GreenBayRules It's fine :)

##

You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/dragon-drop-scratch/dragon-drop-www/issues/58#issuecomment-247797006, or mute the thread

[2016-09-17 21:42] NaturalmotionStudios opened #63 "dragondro.ps?"
Can someone reserve a domain with the name ```dragondro.ps``` before someone else takes it? Thanks

[2016-09-17 22:30] coke11 commented on #63
.ps?

[2016-09-18 01:07] zspri commented on #63
https://en.wikipedia.org/wiki/.ps

[2016-09-18 13:13] coke11 commented on #63
oh

[2016-09-18 16:29] Sheshank-s commented on #63
Cool! But Im not sure any of us are from Palestine, and it could end up being a waste in money D:

[2016-09-18 16:30] Sheshank-s commented on #62
Let me try to fix this...

[2016-09-18 16:31] Sheshank-s commented on #62
Done!

[2016-09-18 23:46] zspri commented on #63
No, it's just one of those domain things, like `youtu.be`. `dragondro.ps` as in DragonDrops

[2016-09-21 00:11] coke11 commented on #47
@csf30816 @GreenBayRules @card100 Thank you for all your hard work on this!

[2016-09-21 00:12] coke11 commented on #63
Could we register like dragondr.op?

[2016-09-21 00:13] coke11 commented on #20
I know. From World. How would we run it?

[2016-09-21 00:14] coke11 commented on #54
@GreenBayRules Thank you!

[2016-09-21 00:15] coke11 commented on #61
@csf30816 thanks

[2016-09-21 00:17] CosmicWebServices commented on #20
If it is not nodejs it would be easy

[2016-09-21 00:22] coke11 commented on #20
@CosmicWebServices ?. This is the code `$.ajax({type: "POST",url: "https://scratch.mit.edu/site-api/comments/user/PROFILE TO COMMENT ON/add/",data: {"content":"WHAT TO COMMENT","parent_id":"","commentee_id":""}})
`

[2016-09-21 00:24] CosmicWebServices commented on #20
OK so we need to add jQuery

[2016-09-21 00:25] coke11 commented on #20
@CosmicWebServices Yeah.

[2016-09-21 00:29] coke11 commented on #20
@CosmicWebServices How would we do that?

[2016-09-21 00:30] CosmicWebServices commented on #20
jquery.com

[2016-09-21 00:31] coke11 commented on #20
@CosmicWebServices Ah - ok. Do you think you would be able to add that?

[2016-09-21 00:32] CosmicWebServices commented on #20
sure

[2016-09-21 00:33] coke11 commented on #20
thanks :D

[2016-09-21 00:33] CosmicWebServices commented on #20
Wait what file(s) will it be used in???

[2016-09-21 00:34] CosmicWebServices commented on #20
@coke11

[2016-09-21 00:43] coke11 commented on #20
@CosmicWebServices The files used to send a message to Scratch users to verify Identity

[2016-09-21 00:45] CosmicWebServices commented on #20
Did it

[2016-09-21 00:46] coke11 commented on #20
Awesome. I will try it out

[2016-09-21 00:47] CosmicWebServices commented on #20
Oh no I just added jQuery

[2016-09-21 00:47] CosmicWebServices commented on #20
I do not know how to do that part

[2016-09-21 00:52] coke11 commented on #20
@CosmicWebServices OH. What did you not know how to do with the other part?

[2016-09-21 00:53] CosmicWebServices commented on #20
Umm mostly I do not want to break anything and I do not have time to

[2016-09-21 01:09] coke11 commented on #20
@CosmicWebServices Oh, ok

[2016-09-21 11:20] zspri commented on #61
@csf30816 Thanks

[2016-09-21 11:22] zspri commented on #63
@coke11 It's not a domain :(

(Since it seemed like you were confused: I think it's "better" to have dragondro.ps than dragondrops.net, and it won't matter if it's located in Palestine)

[2016-09-21 19:34] adri326 commented on #20
Just put this piece of code mentionned above in an JS event that'll happen when it should verify, for example on an onclick on the submit element.

[2016-09-21 21:43] coke11 commented on #63
OH.

[2016-09-21 21:45] coke11 commented on #20
@adri326 Would you be able to handle this?

[2016-09-22 09:08] adri326 commented on #20
Sure!

[2016-09-22 09:23] adri326 commented on #20
Tadaaaaa!

https://github.com/dragon-drop-scratch/dragon-drop-www/pull/67

[2016-09-22 11:07] zspri commented on #20
Mind if I edit the text on the verification message?

(Just a confirmation: You need to log in before you enter the verification code, right?)

[2016-09-22 11:11] zspri commented on #20
Chrome console gives us:
![capture](https://cloud.githubusercontent.com/assets/19719195/18746145/c4010796-8093-11e6-8c03-baf37929500e.PNG)
when I try to sign up. I can't click the "Sign up!" button either.

[2016-09-22 18:43] adri326 commented on #20
What I did was adding the piece of code in a function, changing the submit button to a div element with an onclick="submit();" and then in this function I made so that it executes the piece of code and then it sends the form. The problem comes from the function, gotta check it out.

[2016-09-22 19:30] adri326 commented on #20
https://github.com/dragon-drop-scratch/dragon-drop-www/compare/gh-pages...adri326:patch-3

[2016-09-22 20:02] NaturalmotionStudios commented on #20
@adri326
![capture](https://cloud.githubusercontent.com/assets/19719195/18764082/fc91ac74-80dd-11e6-8989-2e9c00a0c10b.PNG)

[2016-09-22 20:03] zspri commented on #20
@adri326
![capture](https://cloud.githubusercontent.com/assets/19719195/18764130/237de9d8-80de-11e6-8d71-5e31361583ab.PNG)

[2016-09-22 20:59] coke11 commented on #20
@NaturalmotionStudios @adri326  Can not test because the SignUp button is not working. Which account even comments anyway?

[2016-09-22 21:07] coke11 commented on #58
@golden-scratch Any chance you could add a website credits section?

[2016-09-22 21:07] coke11 commented on #58
Or should I take it?

[2016-09-23 10:46] zspri commented on #20
What?

[2016-09-23 16:58] zspri commented on #58
xD

(Edit: I did this at school :P)

[2016-09-24 06:51] adri326 commented on #20
Oh, the error came from there...

[2016-09-24 06:51] adri326 commented on #20
My browser always opened me the source code in a new tab when I wanted to see where it crashed

[2016-09-24 14:34] Nanomotion opened #68 "Errors on various pages"
index.html: (Fixed)

signup.html: (Fixed)

Non-ScratcherContact.html: (Fixed)

videos.html: (An error that we can't fix)
![capture](https://cloud.githubusercontent.com/assets/19719195/18809094/08873b9c-8242-11e6-8fcf-69949b50166e.PNG)

about.html: (An error that we can't fix)
![capture](https://cloud.githubusercontent.com/assets/19719195/18809109/6c1f6f94-8242-11e6-8e25-fc26f2017bb2.PNG)

[2016-09-24 20:14] coke11 commented on #68
You hacked into mine and Card's chat? Jk - it just happens that this is what I was working on with him. I think some of these are just because we are running it on GithubPages. But others are our fault. I am going to try running these locally or on our server :)

[2016-09-24 20:15] coke11 commented on #68
@csf30816 Any chance you could run a couple of these locally?

[2016-09-24 20:26] coke11 commented on #20
@adri326 Do you think you would be able to be the person in charge of this issue? I am going to add more task to it soon

[2016-09-24 20:29] Sheshank-s commented on #62
What! I fixed it! Why is this re-opened.

[2016-09-24 20:29] coke11 commented on #62
This never ended up getting fixed. I have assigned @NaturalmotionStudios as they were the one who was hooking it up in the first place. Also - We need to do it with a DragonDrop google account, not @NaturalmotionStudios's. That would make it look better, and then other people could make edits :)

[2016-09-24 20:30] coke11 commented on #62
@GreenBayRules Hm. I still get the error

[2016-09-24 20:31] coke11 commented on #62
@GreenBayRules oh. I was mixed up when it comes to this issue. I am going to make a couple of changes to it

[2016-09-24 20:31] Sheshank-s commented on #62
Yes it did. The issue was the Sign up bar was going in front of the nav bar. See:
![i fixed it](https://cloud.githubusercontent.com/assets/11379161/18811069/33d7a5c0-825b-11e6-8d7b-3e14668ff06a.GIF)

[2016-09-24 20:32] Sheshank-s commented on #62
Oh ok. I remember gixing this :) Whats the new problem?

[2016-09-24 20:32] coke11 commented on #62
@GreenBayRules Yes - I miss understood you. I forgot that is what the issue was for. Now I am going to report the new problem

[2016-09-24 20:33] Sheshank-s commented on #58
Um I dont understand, this was fixed!

[2016-09-24 20:34] coke11 commented on #62
@GreenBayRules - Updated the main description. Do you think you would be able to fix it?

[2016-09-24 20:34] Sheshank-s commented on #20
I am pretty sure this was fixed. What part is not fixed?

[2016-09-24 20:35] Sheshank-s commented on #62
Oh ok! I'll try :)

[2016-09-24 20:39] Sheshank-s commented on #63
I dont think we should have this as a "issue" Maybe put it as a card on trello

[2016-09-24 20:39] #63 closed

[2016-09-24 20:43] Sheshank-s commented on #62
@coke11 I commited some code. Waiting for the website to update. Not sure if it will work though :(

[2016-09-24 20:48] GreenBayRules opened #69 "Nav bar is not centered"

[2016-09-24 20:49] Sheshank-s commented on #69
I'll do this, but if I forget..

[2016-09-24 20:55] coke11 commented on #62
@GreenBayRules Didn't work :(

[2016-09-24 21:16] coke11 commented on #63
@GreenBayRules I have decided that I am not going to get the domain anyhow.

[2016-09-24 21:16] coke11 commented on #69
@GreenBayRules I think it looks cool not centered :)

[2016-09-24 21:16] #69 closed

[2016-09-24 21:17] coke11 opened #70 "Mobile"
We need to work on making all of our pages mobile friendly.

[2016-09-24 23:02] zspri commented on #68
@coke11 It's just the Chrome console, lol.
But we need to fix the insecure HTTP requests, the browsers block them, which may lead to other errors.

[2016-09-24 23:07] zspri commented on #70
I can try, but I'm not sure how to do that.

[2016-09-24 23:10] zspri commented on #62
@coke11 Once you get it to work,  I can use dev@dragondrops.net and connect the OAuth via that.

[2016-09-25 00:50] coke11 commented on #70
@NaturalmotionStudios I am going to move this to Trello. https://trello.com/c/JVWwtw1N/192-mobile

[2016-09-25 00:50] coke11 commented on #70
![](https://github.trello.services/images/mini-trello-icon.png) [Mobile](https://trello.com/c/JVWwtw1N/192-mobile)

[2016-09-25 01:36] coke11 commented on #68
@NaturalmotionStudios I know, but

[2016-09-25 01:36] coke11 commented on #62
OK. I am working on getting it setup :).

[2016-09-25 01:36] coke11 commented on #62
@NaturalmotionStudios But wait - wouldn't that have to be a google account?

[2016-09-25 01:37] coke11 commented on #62
@GreenBayRules I am going to unassign you because this is hooked up to @NaturalmotionStudios's email

[2016-09-25 12:01] zspri commented on #62
@coke11 You can use different domains with Gmail I think.
maybe https://support.google.com/a/answer/6398669?hl=en?
Anyways, I would try it. We could use it for development feedback.

[2016-09-25 12:02] zspri commented on #68
@coke11 ?

[2016-09-25 13:25] coke11 commented on #68
@NaturalmotionStudios Github might have some errors in Github pages, that are not in our code, but rather their code. Therefore, I am going to run this locally, or on our servers and see if we get the same errors.

[2016-09-25 14:39] zspri commented on #68
@coke11 Ah, ok

[2016-09-25 15:19] csf30816 commented on #70
OK

[2016-09-25 16:56] coke11 opened #71 "Color Scheme Change"
We need to get the color scheme updated to the red theme (same as the logo). The HEX values are #A52D35. We need to work on getting the new scheme JUST on WWW. Then we will focus on having it on the other repros.

I am not going to assign this to anyone. Could @adri326 or @zebraislearning possibly do it, though? (and you guys could submit it in a PR if you don't have write access). Thanks so much!

[2016-09-25 22:41] csf30816 commented on #71
OK

[2016-09-25 22:48] csf30816 commented on #71
Done

[2016-09-25 22:48] #71 closed

[2016-09-25 22:51] csf30816 commented on #68
@coke11 Sorry, can't host it locally now... The 404's are because those files do not exist yet... The https issue is because https is secure so it does not load content that is not https unless you allow it... Glad I could help :)

[2016-09-25 22:55] zspri commented on #68
@csf30816 It's not ALL HTTPS errors, the `ReferenceError`s need to be fixed.

[2016-09-25 23:19] csf30816 commented on #68
OK,

[2016-09-26 21:03] radioblahaj commented on #71
so what do you want me to do ?

[2016-09-26 22:28] coke11 commented on #71
@zebraislearning Never mind - @csf30816 finished it :)

[2016-09-26 23:14] card100 opened #72 "Go back home button on sign up page not working"

[2016-09-26 23:15] card100 opened #73 "Prototype's background button does not transfer to preveiw"

[2016-09-26 23:16] zspri commented on #72
You could fix this yourself :P

[2016-09-26 23:19] zspri commented on #62
I need the other devs to hook this up to the DragonDrop account, or else it won't even work.

[2016-09-26 23:19] card100 commented on #72
I am just filing it

[2016-09-26 23:19] card100 commented on #72
Probably will

[2016-09-26 23:21] zspri commented on #72
Or I'll just do it now

[2016-09-26 23:21] zspri commented on #72
Done

[2016-09-26 23:21] #72 closed

[2016-09-26 23:22] card100 commented on #72
Ok

[2016-09-26 23:23] card100 opened #74 "dragondrops.net is not going to blog (or anything else)"

[2016-09-26 23:28] card100 opened #75 "Create Plans Page"
I already made it but it needs a body:
https://dragon-drop-scratch.github.io/dragon-drop-www/plans

[2016-09-26 23:34] zspri commented on #74
Ask @coke11

[2016-09-26 23:35] NaturalmotionStudios opened #76 "Emails not showing up on Freshdesk"
I know this isn't related to Github, but I can't send an email via Freshdesk.

[2016-09-26 23:48] coke11 commented on #76
@NaturalmotionStudios Still working on getting Freshdesk setup. For now on please use Trello for this kind of stuff- thanks

[2016-09-26 23:48] #76 closed

[2016-09-26 23:54] coke11 commented on #75
@card100 We aren't really doing plans anymore. I will explain later

[2016-09-26 23:54] #75 closed

[2016-09-26 23:55] coke11 commented on #74
@card100 @NaturalmotionStudios Something is going on with the server. I am working on fixing it. (for now on use Trello for this kind of stuff - thanks)

[2016-09-26 23:55] coke11 commented on #73
@card100 @NaturalmotionStudios ?

[2016-09-27 00:07] zspri commented on #73
@coke11 Actually, idk

[2016-09-27 13:17] adri326 commented on #20
The message isn't showing up

[2016-09-27 14:12] radioblahaj commented on #62
Even i noticed the issue with the google sign in ! I think we should have some Javasprict app or make our own sign with google app or we can set it up from dragondrops google account

[2016-09-27 14:19] radioblahaj commented on #71
But i wanted to jelp dragondrop! Is there anuthing else i can help you with
@coke11 ?

On Mon, Sep 26, 2016, 6:28 PM coke11 notifications@github.com wrote:

[2016-09-27 14:26] zebraislearning opened #77 "Words moving"
whenever i open dragondrop preview of github on my broswer, Thw words are not in the box or the credits username is not in order! This happens a lot, I thinksome can fix this? I asked @GreenBayRules on scratch , but it still happens!

[2016-09-27 14:52] radioblahaj commented on #77
@card100 , Have you checked any bugs lately?

[2016-09-27 17:38] radioblahaj commented on #77
![79a0zk 1](https://cloud.githubusercontent.com/assets/21000033/18884928/8c9529cc-84b7-11e6-8750-2a232bf5b425.png)

#2 This issue goes with spelling error as well!

[2016-09-27 17:39] radioblahaj commented on #2
This issue goes with Words moving issue #77 and also this issue goes with #20 because it's all in a word moving promblem, spelling problrem and java prombmem! #java

[2016-09-27 17:40] radioblahaj commented on #77
i'm making this issue again because i did spelling errors!

[2016-09-27 17:44] zebraislearning opened #78 "Words moving issue #78"
![79a0zk 1](https://cloud.githubusercontent.com/assets/21000033/18885125/4beeb5d6-84b8-11e6-87f3-2bea9fb449b5.png)

When you open the dragondrop Github, the words are being moved and There out of the boxes!

[2016-09-27 17:47] Torotv opened #79 "Credits page not part of dragondrop team order issue #79"
When ever i open Credits page where my name is, Sometimes it's not in order! s there anyway this can be fixed? I asked @GreenBayRules a lot of times and also can @CosmicWebServices  figure out a way to Use  Java for sign up with google app?
#77 - old issue for words moving
#78  -  new isssue for words moving ( please check this out)

[2016-09-27 17:47] zebraislearning commented on #78
This goes with issue #79

[2016-09-27 17:48] zebraislearning commented on #78
@GreenBayRules  can you fix this please?
@CosmicWebServices  can you find a java way to fix sign up with google on Dragondrop Github?
@card100  can you please check for some bugs and tell me , so i can make a issue?

[2016-09-27 17:57] CosmicWebServices commented on #79
You mean Javascript?

[2016-09-27 19:10] birdoftheday opened #80 "add a license"

[2016-09-27 20:03] radioblahaj commented on #79
Yes I mean javascript! Sorry I just want to help dragondrop and I want to
fix some things!
On Tue, Sep 27, 2016 at 1:57 PM Cosmic Web Services <
notifications@github.com> wrote:

[2016-09-27 20:06] radioblahaj commented on #79
Sorry if I was rude @CosmicWebServices !

[2016-09-27 20:08] zspri commented on #80
@birdoftheday We don't necessarily have to, but I'll add one

[2016-09-27 20:11] radioblahaj commented on #79
@coke11 Can I please be a QA ( Bug finder) ? I do find lots of bugs and
tell them to @greenbayrules on scratch?
On Tue, Sep 27, 2016 at 4:02 PM narula arav aravnarula18@gmail.com wrote:

[2016-09-27 20:12] zspri commented on #79
@zebraislearning Apply on the Scratch forum thread. https://scratch.mit.edu/discuss/topic/211653/
Also, @GreenBayRules isn't our only dev.

[2016-09-27 20:14] radioblahaj commented on #79
I know that anyways are you a DEV?
On Tue, Sep 27, 2016 at 4:12 PM Nanomotion notifications@github.com wrote:

[2016-09-27 20:15] radioblahaj commented on #79
If you are I think you can help with fixing the bugs I found!
On Tue, Sep 27, 2016 at 4:13 PM narula arav aravnarula18@gmail.com wrote:

[2016-09-27 20:15] radioblahaj commented on #79
I assign you?
On Tue, Sep 27, 2016 at 4:13 PM narula arav aravnarula18@gmail.com wrote:

[2016-09-27 20:15] zspri commented on #79
Woah, hold on

[2016-09-27 20:15] radioblahaj commented on #79
Sorry sorry

[2016-09-27 20:15] zspri commented on #79
It's fine

[2016-09-27 20:16] zspri commented on #79
So what exactly is the problem?

[2016-09-27 20:17] zspri commented on #78
Can you send a screenshot of the problem?

[2016-09-27 20:17] radioblahaj commented on #79
Well on my browser, When I open the Dragondrop github, the credits for who are not in the team but helped dragondrop , the usernames are not in order sometimes!

[2016-09-27 20:17] radioblahaj commented on #78
Well it happens sometimes and Ido not know how to take a screening shot

[2016-09-27 20:18] zspri commented on #79
Oh, we just need to update the credits page.

[2016-09-27 20:19] radioblahaj commented on #79
Yup thank so so should I close this issue now? Because @CosmicWebServices still needs to fix google sign up app or should I make a issue from it?

[2016-09-27 20:21] radioblahaj commented on #79
@NaturalmotionStudios are you there.

[2016-09-27 20:21] zspri commented on #79
Yes, I am.

[2016-09-27 20:21] zspri commented on #79
Wait until I fix it to close it.

[2016-09-27 20:21] radioblahaj commented on #79
Ok

[2016-09-27 20:23] zspri commented on #62
@zebraislearning

That's because of Github.

We're making a Chrome extension, and Google sign-in we'll have to hook up to the account system thing.

[2016-09-27 20:23] zspri commented on #78
What operating system do you have?

[2016-09-27 20:24] radioblahaj commented on #62
Yeah that is what I was thinking
On Tue, Sep 27, 2016 at 4:23 PM Nanomotion notifications@github.com wrote:

[2016-09-27 20:25] radioblahaj commented on #62
I said that on issue #77
On Tue, Sep 27, 2016 at 4:23 PM narula arav aravnarula18@gmail.com wrote:

[2016-09-27 20:25] zspri commented on #62
Ok :)

[2016-09-27 20:27] zspri commented on #80
Done

[2016-09-27 20:27] #80 closed

[2016-09-27 20:28] zspri commented on #79
https://github.com/dragon-drop-scratch/dragon-drop-www/commit/43b4d7bbced1ea3e2556b7f76fe9ca8bda9b447d

[2016-09-27 20:28] #77 closed

[2016-09-27 20:30] radioblahaj commented on #79
@NaturalmotionStudios why did you close it? Also can you assign me to this

[2016-09-27 20:32] zspri commented on #79
@zebraislearning I closed it since the issue has been fixed, and I can't assign you since it's closed and you don't have write access.

[2016-09-27 20:35] radioblahaj commented on #79
I wish I had right access

On Tue, Sep 27, 2016 at 4:32 PM Nanomotion notifications@github.com wrote:

[2016-09-27 20:36] radioblahaj commented on #79
Bye can be talk tomorrow? I have a surprise event sorry bye
On Tue, Sep 27, 2016 at 4:34 PM narula arav aravnarula18@gmail.com wrote:

[2016-09-27 20:36] radioblahaj commented on #79
And where"s my username where you said NP?
On Tue, Sep 27, 2016 at 4:35 PM narula arav aravnarula18@gmail.com wrote:

[2016-09-27 20:37] zspri commented on #79
@zebraislearning ?

[2016-09-27 20:37] radioblahaj commented on #79
The credits Area where you just edited!
On Tue, Sep 27, 2016 at 4:37 PM Nanomotion notifications@github.com wrote:

[2016-09-27 20:39] zspri commented on #79
@zebraislearning @coke11 hasn't hired you yet.

[2016-09-27 20:40] radioblahaj commented on #79
Yeah I wished he did but in meantime I can be not partQA
On Tue, Sep 27, 2016 at 4:39 PM Nanomotion notifications@github.com wrote:

[2016-09-27 20:40] radioblahaj commented on #79
Meaning bug finder who not part of team
On Tue, Sep 27, 2016 at 4:39 PM narula arav aravnarula18@gmail.com wrote:

[2016-09-27 22:10] zspri commented on #79
@zebraislearning You can keep creating issues if you find bugs, and maybe you'll be included on the credits page!

[2016-09-27 22:33] card100 commented on #78
When I find a bug I make it an issue and sometimes I just fix it right then and there.  Keep up the good work on finding problems of it.  Also, it you are using windows use the print screen key to take a screen shot.  With mac use preview.

[2016-09-27 22:33] card100 commented on #78
Can you also say what page?

[2016-09-27 22:34] card100 commented on #78
Oh, and the google sign up button is already in progress, also cosmic web services quite

[2016-09-28 01:14] #74 closed

[2016-09-28 01:15] card100 commented on #73
The background button that can change the background does not change the css in the preview or export html

[2016-09-28 01:17] coke11 commented on #79
@NaturalmotionStudios He was on the credits page...

[2016-09-28 01:18] card100 commented on #79
ok

[2016-09-28 01:22] radioblahaj commented on #79
I am on the credits page! Will there be a credits page when Dragondrop
comes in 2017 @coke11☺ ?

On Tue, Sep 27, 2016, 21:18 card100 notifications@github.com wrote:

[2016-09-28 01:26] card100 commented on #79
https://dragon-drop-scratch.github.io/dragon-drop-www/Credits/credits.html

[2016-09-28 01:29] radioblahaj commented on #79
The usernames are not in order for me right now!

On Tue, Sep 27, 2016, 21:26 card100 notifications@github.com wrote:

[2016-09-28 01:33] radioblahaj commented on #79
@coke11

On Tue, Sep 27, 2016, 21:31 narula arav aravnarula18@gmail.com wrote:

[2016-09-28 01:37] card100 commented on #79
Do you mean that they are not if alphabetical order or that the pictures don't line up to the usernames?

[2016-09-28 01:38] radioblahaj commented on #79
Yes the photos do not line up with the usernames

[2016-09-28 01:39] card100 commented on #79
I think that was never supposed to happen, though when the higher prioritys are done we can make the site more lined up

[2016-09-28 01:40] radioblahaj commented on #79
Ok I do not know what that means?

On Tue, Sep 27, 2016, 21:39 card100 notifications@github.com wrote:

[2016-09-28 01:41] radioblahaj commented on #79
But it sounds all right!

On Tue, Sep 27, 2016, 21:40 narula arav aravnarula18@gmail.com wrote:

[2016-09-28 01:41] card100 commented on #79
We have to get other things done first

[2016-09-28 01:43] radioblahaj commented on #79
Ok

On Tue, Sep 27, 2016, 21:41 card100 notifications@github.com wrote:

[2016-09-28 01:44] radioblahaj commented on #79
@NaturalmotionStudios  We should re open this

[2016-09-28 01:47] card100 opened #82 "Messages icon on dashboard gone"
csf30816, you seemed to make the messages button disappear.  Please don't be kidnapping icons.  Thank You for your understanding.

[2016-09-28 02:59] radioblahaj commented on #79
Thanks @card100

[2016-09-28 03:01] radioblahaj commented on #78
Why did he quit? @card100 what was he ? Do you need a new person for that? Talk at 5:30 pm in Canada to more byte

[2016-09-28 03:01] radioblahaj commented on #78
Any page

[2016-09-28 03:02] radioblahaj commented on #78
Every page

[2016-09-28 03:02] radioblahaj commented on #78
@NaturalmotionStudios Chrome

[2016-09-28 10:38] zspri commented on #74
@coke11 All I did was tell @card100 to ask you. :/

[2016-09-28 10:39] NaturalmotionStudios commented on #79
@coke11 Oh, I didn't see that he was :P

[2016-09-28 10:42] zspri commented on #78
@zebraislearning That's what browser you have. What I was meaning is do you have Windows, Mac, or Linux? And thanks for telling me that part.

[2016-09-28 10:43] zspri commented on #82
@card100 @csf30816 Kidnapping icons?

[2016-09-28 10:46] zspri commented on #73
@card100 Oh, that's a pretty important feature for the editor. @dragon-drop-scratch/coding

[2016-09-28 11:54] coke11 commented on #73
Oh. This should be in the editor repro then...

[2016-09-28 11:54] #73 closed

[2016-09-28 12:29] radioblahaj commented on #78
Windows and on the phone S7 Note
On Wed, Sep 28, 2016 at 6:42 AM Nanomotion notifications@github.com wrote:

[2016-09-28 17:39] card100 commented on #78
What do you mean by out of their boxes?

[2016-09-28 20:10] zspri commented on #78
@zebraislearning ...
Use a regular PC and see if it's still doing that.

[2016-09-28 20:15] Sheshank-s commented on #82
Lol

Sent from my iPhone

On Sep 28, 2016, at 3:43 AM, Nanomotion <notifications@github.com<mailto:notifications@github.com>> wrote:

@card100https://github.com/card100 @csf30816https://github.com/csf30816 Kidnapping icons?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHubhttps://github.com/dragon-drop-scratch/dragon-drop-www/issue

[2016-09-28 21:33] radioblahaj commented on #78
I am using a PC Yes @card100
On Wed, Sep 28, 2016 at 4:10 PM Nanomotion notifications@github.com wrote:

[2016-09-28 21:55] zspri commented on #78
@zebraislearning Can you screenshot the problem? I don't see any...

[2016-09-28 21:56] radioblahaj commented on #78
I did github may no support
On Wed, Sep 28, 2016 at 5:55 PM Nanomotion notifications@github.com wrote:

[2016-09-28 21:57] zspri commented on #78
Just drag the screenshot into the comment box

[2016-09-28 21:57] radioblahaj commented on #78
i sent one last night
On Wed, Sep 28, 2016 at 5:57 PM Nanomotion notifications@github.com wrote:

[2016-09-28 21:58] zspri commented on #78
Well It's not in any comment

[2016-09-28 21:59] radioblahaj commented on #78
I sent it at github
On Wed, Sep 28, 2016 at 5:58 PM Nanomotion notifications@github.com wrote:

[2016-09-28 22:00] zspri commented on #78
... Just re-send one

[2016-09-28 22:01] radioblahaj commented on #78
I can"t I sent it from my dad"s phone he"a gone somewhere and the same
thing won"t happen again! I can check on Github if I can see it?
On Wed, Sep 28, 2016 at 6:00 PM Nanomotion notifications@github.com wrote:

[2016-09-28 22:02] zspri commented on #78
This IS Github...

[2016-09-28 22:03] radioblahaj commented on #78
But I am writing trough my email
On Wed, Sep 28, 2016 at 6:02 PM Nanomotion notifications@github.com wrote:

[2016-09-28 22:03] zspri commented on #78
Idk... Just ask someone else, I need to do some commits.

[2016-09-28 22:04] radioblahaj commented on #78
I forwarded to dragondrop?
On Wed, Sep 28, 2016 at 6:03 PM Nanomotion notifications@github.com wrote:

[2016-09-28 22:04] radioblahaj commented on #78
But I guess you can not see it ask coke11 If he got it""'
On Wed, Sep 28, 2016 at 6:04 PM narula arav aravnarula18@gmail.com wrote:

[2016-09-28 22:05] radioblahaj commented on #58
#79

[2016-09-28 22:43] NaturalmotionStudios opened #83 "iframe broken on /admin/ page"
Iframe doesn't go all the way down the page.
![capture](https://cloud.githubusercontent.com/assets/19719195/19214269/a8f912ca-8d4c-11e6-9242-c581671bb003.PNG)

[2016-09-29 11:57] card100 commented on #78
It's kind of hard to use github through email

[2016-09-29 18:32] radioblahaj commented on #78
not for me

On 29 September 2016 at 07:57, card100 notifications@github.com wrote:

##

please do not send emails back till 24 hours!
thanks and sure to ge back to you,

please use these quick links,

https://plus.google.com/u/1/+narularvarav
https://www.youtube.com/channel/UCUzWg6Ek1hp4xwAlg_WMAiA

[2016-09-30 22:39] card100 commented on #78
We really need a screenshot

[2016-10-01 13:56] radioblahaj commented on #78
You know the d agondrop email with .net at the end I will send it on that
On Fri, Sep 30, 2016 at 6:39 PM card100 notifications@github.com wrote:

[2016-10-01 14:22] csf30816 opened #84 "dragondrops.net not working"

[2016-10-01 14:30] csf30816 commented on #82
?

[2016-10-01 19:24] radioblahaj commented on #84
Is the blog .net not working blogger may be updating and fixing their sever!

[2016-10-01 19:26] radioblahaj commented on #18
Hi

[2016-10-01 19:55] adri326 commented on #18
Hey! I'm surprised to find you here :)

[2016-10-01 20:02] radioblahaj commented on #18
Do you know me? From scratch you follow me on @scratchworldcup on scratch?

[2016-10-02 07:09] adri326 commented on #18
I saw you one time on scratch... were you part of the pokemon land and sea project or the newawe project? Or... I don't know, but I saw you one time on scratch, I have the same pseudo on it

[2016-10-02 14:00] radioblahaj commented on #18
The never did a Pokémon project 

Warm regards,

Arav Narula

On Sun, Oct 2, 2016 at 3:09 AM -0400, "adri326" notifications@github.com wrote:

I saw you one time on scratch... were you part of the pokemon land and sea project or the newawe project? Or... I don't know, but I saw you one time on scratch, I have the same pseudo on it

—
You are receiving this because you commented.
Reply to this emai

[2016-10-03 16:45] card100 commented on #84
Coke said that he is doing something with it for now

[2016-10-03 16:45] #84 closed

[2016-10-03 20:27] radioblahaj commented on #84
Ok thanks @card100

[2016-10-08 12:03] zspri commented on #78
@zebraislearning @coke11 got rid of the DD emails because they were glitching.

[2016-10-08 13:08] coke11 commented on #82
Please make sure you are putting issues in the right repros. Thanks

[2016-10-08 13:08] #82 closed

[2016-10-08 13:10] coke11 commented on #83
@NaturalmotionStudios How is it broken? Please be more specific when filling issues. Thanks :)

[2016-10-08 13:24] coke11 commented on #70
@adri326 Would you like to take this?

[2016-10-08 13:24] coke11 commented on #70
(we just need this on www)

[2016-10-08 14:56] adri326 commented on #70
I can take this, yeah, I know how to do that

[2016-10-08 15:45] zspri commented on #83
@coke11 Updated description

[2016-10-08 17:15] Sheshank-s commented on #78
Why do u keep reopening and closing this

Sent from my iPhone

On Oct 8, 2016, at 10:04 AM, Zebraislearning <notifications@github.com<mailto:notifications@github.com>> wrote:

Reopened #78https://github.com/dragon-drop-scratch/dragon-drop-www/issues/78.

##

You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHubhttps://github.com/dragon-dr

[2016-10-08 17:16] radioblahaj commented on #78
Sorry. I thinking this issue fixed?

On Sat, Oct 8, 2016 at 1:15 PM Sheshank Shankar notifications@github.com
wrote:

Why do u keep reopening and closing this

Sent from my iPhone

On Oct 8, 2016, at 10:04 AM, Zebraislearning <notifications@github.com
<mailto:notifications@github.com>> wrote:

Reopened #78<
https://github.com/dragon-drop-scratch/dragon-drop-www/issues/78>.

##

You are receiving t

[2016-10-08 17:17] radioblahaj commented on #78
Closed #88
On Sat, Oct 8, 2016 at 1:16 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-08 17:18] radioblahaj commented on #78
Closed #78
On Sat, Oct 8, 2016 at 1:17 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-09 15:29] Sheshank-s commented on #78
@zebraislearning @NaturalmotionStudios @card100 We already know about this. We still have been tryingn to fix this. We had this same issue a while ago.

[2016-10-09 15:30] #78 closed

[2016-10-11 10:58] zspri commented on #58
![capture](https://cloud.githubusercontent.com/assets/19719195/19268035/07f7d1a0-8f80-11e6-9f7d-8dc2f85b802f.PNG)

The credits look kind of weird now.

[2016-10-11 15:56] Sheshank-s commented on #58
@NaturalmotionStudios Yes, I am fixing them.... I made it look like that, and I will fix it :D

[2016-10-11 16:19] Sheshank-s commented on #58
@NaturalmotionStudios I think it is done.

[2016-10-11 16:19] #58 closed

[2016-10-11 16:21] zebraislearning opened #85 "Github Website"
To me The github site is looking very bad, Can we fix it ! @GreenBayRules I think you did a big mistake!

[2016-10-11 18:01] Sheshank-s commented on #79
@zebraislearning I dont understand what you mean. The credits page was broken a while ago, but I fixed it.

[2016-10-11 18:11] GreenBayRules commented on #85
Thanks. That was very nice. I didn't make a mistake. I was trying something out. I was changing up the credits page ok? How about you go check out the page now? I fixed it. So next time, before you start go accusing people for mistakes, why don't you think about submitting a pull request to fix it? Thanks!

[2016-10-11 18:11] #85 closed

[2016-10-11 20:49] Sheshank-s commented on #79
@NaturalmotionStudios lol

[2016-10-11 21:52] zspri commented on #79
@GreenBayRules I didn't do that, someone else must've edited, and @zebraislearning @card100 @coke11 @CosmicWebServices just don't.

[2016-10-11 21:53] zspri commented on #79
Also the `<br>` tag isn't working right on the page for some reason.

[2016-10-11 21:54] zspri commented on #85
@zebraislearning Please be considerate of the DragonDrop team members.

[2016-10-11 21:55] zspri commented on #58
@GreenBayRules Thanks! It looks a lot better now.

[2016-10-11 23:17] Sheshank-s commented on #58
Thanks

Sent from my iPhone

On Oct 11, 2016, at 2:55 PM, Nanomotion <notifications@github.com<mailto:notifications@github.com>> wrote:

@GreenBayRuleshttps://github.com/GreenBayRules Thanks! It looks a lot better now.

##

You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/dragon-drop-scratch/dragon-drop-www/issues/58#issuecomment-

[2016-10-12 12:50] radioblahaj commented on #85
Ok
On Tue, Oct 11, 2016 at 5:54 PM Nanomotion notifications@github.com wrote:

[2016-10-12 22:59] radioblahaj commented on #58
where's who helped the dragondrop team and are not in part of dragondrop
and the page looks more werid, can we go back to what we had before
@greenbayrules? Did you get coke approval on chaging the credits page?
@coke11

On Tue, 11 Oct 2016 at 19:17 Sheshank Shankar notifications@github.com
wrote:

[2016-10-12 23:00] radioblahaj commented on #58
@CARD100 forget to add you abbove on the comment can you check for bugs
please !

On Wed, 12 Oct 2016 at 19:00 narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:02] radioblahaj commented on #58
here's the screenshot shows words do not come good[image:
Screenshot_20160927-212946.png]

On Wed, 12 Oct 2016 at 19:01 narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:02] radioblahaj commented on #58
sending , give me some time wrong one

On Wed, 12 Oct 2016 at 19:02 narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:03] radioblahaj commented on #58
can we have it back like the screenshot i sent/?

On Wed, 12 Oct 2016 at 19:03 narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:04] radioblahaj commented on #58
![7105534_60x60](https://cloud.githubusercontent.com/assets/21000033/19330816/a5dbafc0-90ae-11e6-8e26-af0c382ce1ba.png)
![Uploading 7680480_60x60.png…]()
![8901920_60x60](https://cloud.githubusercontent.com/assets/21000033/19330817/a5dc315c-90ae-11e6-9d4e-94aba75c8d58.png)
![11689214_60x60](https://cloud.githubusercontent.com/assets/21000033/19330819/a5dd14aa-90ae-11e6-9692-dd74e4b7be40.png)
![168

[2016-10-12 23:04] radioblahaj commented on #58
Sorry , wrong file how do you take a screenshot on windows?

[2016-10-12 23:07] radioblahaj commented on #58
the screenshot is in the html file thanks you zebrauislrearning

On Wed, 12 Oct 2016 at 19:08 narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:16] Sheshank-s commented on #58
[Note added by golden-scratch: Please do not be disrespectful and more rather ask for them to explain more carefully. Thanks.]

[2016-10-12 23:17] Sheshank-s commented on #58
I did get cokes approval and he said it was good. Everyone else likes it the new way. The old way didn't look professional! @zebraislearning

[2016-10-12 23:18] radioblahaj commented on #58
I,am saying that I liked the old look for the credits page not the 2 new
ones!
People who helped won't have credit and it is not fair!!
On Wed, Oct 12, 2016 at 7:16 PM Sheshank Shankar notifications@github.com
wrote:

[2016-10-12 23:20] Sheshank-s commented on #58
@zebraislearning [removed by coke - please remember to be respectful] and also, everyone else likes the new look better. We need to be professional. [removed - please read above]

[2016-10-12 23:21] GreenBayRules opened #86 "Credits Page Retired People"
I was gonna do this. But it might take a while. If anyone wants to do it, that is great, just un assign me and put yourself :D

[2016-10-12 23:25] radioblahaj commented on #58
Who typo

On Wed, Oct 12, 2016 at 7:20 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:25] radioblahaj commented on #58
@greenbayrules, people who helped you need credit if you are not going to
put back to the old you maybe you do have any inavite for the people Zhou
helped and were not in the team!

@coke11 might be the leader but you can not leave someone or something's
out I can have a chat with him!

On Wed, Oct 12, 2016 at 7:18 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:26] Sheshank-s commented on #58
@zebraislearning FYI:: To take a screenshot in Windows: Go to Cortana (Search) and type "Snipping Tool".

[2016-10-12 23:26] Sheshank-s commented on #58
What on earth does  "Who Typo" mean?

[2016-10-12 23:29] radioblahaj commented on #58
But you used to have the who helped the dragondrop team but not are part of
the DD team! I made a typo so I meant typo in who (Wrong spelling) I am
helping the team and if you hate it just say @stop #Stop
On Wed, Oct 12, 2016 at 7:26 PM Sheshank Shankar notifications@github.com
wrote:

[2016-10-12 23:29] Sheshank-s commented on #58
@zebraislearning What does "Zhou" mean? What does "inavite" mean? Actually, I don't need to have someone, who has made no contributions to the credits. Give me one example of you helping?

[2016-10-12 23:29] radioblahaj commented on #58
FYI: I have helped the team in many things!
On Wed, Oct 12, 2016 at 7:29 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:31] radioblahaj commented on #58
Um making issues and making sure the website is perfect and trying my best
to help every DD member you can ask @coke11 about it ! I made a typo on
Zhou I meant who and inavite means not doing right things I spelled the
word wrong
On Wed, Oct 12, 2016 at 7:29 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:32] Sheshank-s commented on #58
First of all: No, I was the first person hired on to DD.
Second Thing: I said give me examples
[removed - please remember to be respectful]

[2016-10-12 23:33] Sheshank-s commented on #58
[removed - please remember to be respectful]

[2016-10-12 23:33] radioblahaj commented on #58
I did helpppp!
On Wed, Oct 12, 2016 at 7:32 PM Sheshank Shankar notifications@github.com
wrote:

[2016-10-12 23:35] Sheshank-s commented on #58
Sorry to break it to you, but you really didn't :P If you did, you would be on the team. You would be in the trello we have. In the Gitter we have.

[Remember to be respectful!]

[2016-10-12 23:35] Sheshank-s commented on #58
There is a way you could help though....

[2016-10-12 23:35] Sheshank-s commented on #58
Comment help if you want to...

[2016-10-12 23:35] radioblahaj commented on #58
Here's an great example: The DD team needs someone who's good at finding
bugs I took the thing and did it! How would I know there were like 55
closed!!

#sorrybutileanididhelp
On Wed, Oct 12, 2016 at 7:33 PM Sheshank Shankar notifications@github.com
wrote:

[2016-10-12 23:36] radioblahaj commented on #58
Like what?
On Wed, Oct 12, 2016 at 7:35 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:36] Sheshank-s commented on #58
Do you know HTML?

[2016-10-12 23:36] radioblahaj commented on #58
What's that
On Wed, Oct 12, 2016 at 7:35 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:36] Sheshank-s commented on #58
or CSS, or JavaScript

[2016-10-12 23:36] Sheshank-s commented on #58
[Please do not ask for personal info - thank you]

[2016-10-12 23:36] radioblahaj commented on #58
No
On Wed, Oct 12, 2016 at 7:36 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:36] Sheshank-s commented on #58
Ok

[2016-10-12 23:37] Sheshank-s commented on #58
Are you good at art?

[2016-10-12 23:38] radioblahaj commented on #58
I wanted to be a designer for DD but I entered too late
Between 8 and 12 ! Good at art!
On Wed, Oct 12, 2016 at 7:36 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:38] radioblahaj commented on #58
Y
On Wed, Oct 12, 2016 at 7:37 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-12 23:38] Sheshank-s commented on #58
Hmmm

[2016-10-12 23:38] Sheshank-s commented on #58
Could you send "sheshank@outlook.com" some pics of your art?

[2016-10-12 23:39] Sheshank-s commented on #58
Could I take a guess that your age is 10?

[2016-10-12 23:39] radioblahaj commented on #58
Warm regards,

Arav NarulaI will try

On Wed, Oct 12, 2016 at 7:38 PM -0400, "Sheshank Shankar" notifications@github.com wrote:

Could you send "sheshank@outlook.com" some pics of your art?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-12 23:39] radioblahaj commented on #58
Near

Warm regards,

Arav Narula

On Wed, Oct 12, 2016 at 7:39 PM -0400, "narula arav (rv.n)" aravnarula18@gmail.com wrote:

Warm regards,

Arav NarulaI will try

On Wed, Oct 12, 2016 at 7:38 PM -0400, "Sheshank Shankar" notifications@github.com wrote:

Could you send "sheshank@outlook.com" some pics of your art?

—
You are receiving this because you were mentioned.
Reply to this email directly, v

[2016-10-12 23:39] Sheshank-s commented on #58
:D

[2016-10-12 23:41] Sheshank-s commented on #58
I haven't recieved anything yet..

[2016-10-12 23:41] radioblahaj commented on #58
Wait
On Wed, Oct 12, 2016 at 7:41 PM Sheshank Shankar notifications@github.com
wrote:

[2016-10-12 23:42] Sheshank-s commented on #58
Ok. Do you know how to attach a picture through email.

[2016-10-12 23:44] radioblahaj commented on #58
Y
On Wed, Oct 12, 2016 at 7:42 PM Sheshank Shankar notifications@github.com
wrote:

[2016-10-12 23:45] Sheshank-s commented on #58
So you can send me a email with an example of your art. You can attach it here if you want..

[2016-10-12 23:46] Sheshank-s commented on #58
?

[2016-10-12 23:51] GreenBayRules commented on #58
So your gone? @zebraislearning Ok then, bye!

[2016-10-13 11:04] zspri commented on #86
I would do it but Github is being a little annoying lately, I could try if you want.

[2016-10-13 14:59] MeridiumDevelopment commented on #58
@GreenBayRules Please remember to be respectful and mindful. I have read your conversation same as Coke has. Such responses are unacceptable for your position you have been given. Act like you deserve the position and you are grateful for it.

Also: A person who find's bugs doesn't always need to know HTML. Though it would help. Zebra's job is to find typos, and any visual bugs, by testing all new

[2016-10-13 15:01] MeridiumDevelopment commented on #58
@zebraislearning You have been helping and the team have been appreciating that. Thank you. The disrespect is being looked into further.

[2016-10-13 16:06] radioblahaj commented on #58
Thanks @golden-scratch
On Thu, Oct 13, 2016 at 11:01 AM Seb (golden-scratch) <
notifications@github.com> wrote:

[2016-10-13 16:14] Sheshank-s commented on #58
@golden-scratch If thats what you think, then thats what you think. Maybe think of it from my angle :P.

Packers,

I am very sorry about all of this. I understand that it can be hard when someone doesn't quite agree with you. However - These privileges that have been giving to you as a coder for DragonDrop are big ones, and you must use them responsibly. We have to make sure that DragonDrop looks

[2016-10-13 16:15] radioblahaj commented on #58
You are acting like a cyber bully stop now please!
On Thu, Oct 13, 2016 at 12:14 PM Sheshank Shankar notifications@github.com
wrote:

[2016-10-13 16:44] Sheshank-s commented on #58
@zebraislearning You got your wish. I quit Dragon Drop.

[2016-10-13 16:48] Sheshank-s commented on #86
Ok, I guess you will do it because I already have quit Dragon Drop.

[2016-10-13 16:52] Sheshank-s commented on #58
@golden-scratch ^

[2016-10-13 16:54] Sheshank-s commented on #58
@golden-scratch I was asking if he  could be a designer not a coder. I thought maybe since he said he was good at art, and since we don't have much designers on your team.

[2016-10-13 17:24] Sheshank-s commented on #58
Its weird how github lets you edit others comments D:.

[The following is a note from coke: You have to be in the org - as you have quit you can no longer edit other people's comments - I hope you decide to come back. In the case that you do I will add back :)]

[2016-10-13 17:45] MeridiumDevelopment commented on #58
@GreenBayRules It's not Zebra's or my wish for you to quit. @zebraislearning just wants you to treat them better, as you have been being disrespectful. Zebra was also never a coder, and it's not my team... It's more like 'our' team.

I really wouldn't like you to quit after all the great work you've done. Please.

My life has been hard recently. I don't want to lose more things.

[2016-10-13 17:48] MeridiumDevelopment commented on #86
...

[2016-10-13 21:26] coke11 commented on #58
@zebraislearning

Arav,

I am very sorry to hear about this and agree with Seb 100%. Bullying should not be acceptable at DragonDrop from any degree. No matter who it is from, or where; even if it is borderline it does NOT go under my watch. Seb and I are currently working on sorting this out, and removing anything that was not kind. I hope Sheshan does realize that his actions were not OK and dec

[2016-10-13 21:28] Sheshank-s commented on #58
So coke ur firing me? ;-; Im literally crying at this moment so much time wasted just to be fired 😭

[2016-10-13 21:28] coke11 commented on #58
@GreenBayRules No - I am not firing you. You just said you would like to quit. I hope you do decide to come back.

[2016-10-13 21:31] coke11 commented on #58
@GreenBayRules If you would like to come back, please do. I will add you back to Github, and Trello, and what not.

[2016-10-13 21:36] coke11 commented on #58
@GreenBayRules Are you still on?

[2016-10-13 21:37] Sheshank-s commented on #58
Packers,

I am very sorry about all of this. I understand that it can be hard when someone doesn't quite agree with you. However - These privileges that have been giving to you as a coder for DragonDrop are big ones, and you must use them responsibly. We have to make sure that DragonDrop looks good, and it doesn't look like we are bullying people. That is not acceptable by all means. Thank you for

[2016-10-13 21:37] Sheshank-s commented on #58
Yes

[2016-10-13 21:39] Sheshank-s commented on #58
So what am I losing from all of this? @coke11

[2016-10-13 21:39] coke11 commented on #58
@GreenBayRules Oh, I am so very sorry for calling you by your first name! I can just imagine how hard it would be for that to happen.

No - It was just a simple reminder. I will add you back to everything now :D

[2016-10-13 21:40] coke11 commented on #58
@GreenBayRules Nothing. Again, I am so sorry!

[2016-10-13 21:40] coke11 commented on #58
@GreenBayRules I just need to make sure that DragonDrop is a friendly place for everyone :D

[2016-10-13 21:40] Sheshank-s commented on #58
About the name? Thats fine :) Its  just I don't like it because almost EVERYONE butchers it...

[2016-10-13 21:42] coke11 commented on #58
@GreenBayRules I understand. I think you have a great name though :).

[2016-10-13 21:42] Sheshank-s commented on #58
lol.

[2016-10-13 21:42] coke11 commented on #58
@GreenBayRules Ok! Invited you back to GitHub. You will just need to accept the invite. Adding you back to Trello now  :D

[2016-10-13 21:42] Sheshank-s commented on #58
I did.

[2016-10-13 21:43] Sheshank-s commented on #58
Is all my progress gone now? @coke11

[2016-10-13 21:43] coke11 commented on #58
@GreenBayRules Awesome! I love seeing that label by your name again :)

[2016-10-13 21:44] coke11 commented on #58
@GreenBayRules Nope! When recovering your account, I made sure I got it back :D

[2016-10-13 21:44] Sheshank-s commented on #58
Oh ok...

[2016-10-13 21:45] coke11 commented on #58
![commit](https://cloud.githubusercontent.com/assets/18141280/19368167/61ed6c5c-9164-11e6-82ed-095a4452fc9f.png)

[2016-10-13 21:45] Sheshank-s commented on #58
I need to go, bye.

[2016-10-13 21:45] coke11 commented on #58
@GreenBayRules Bye - Have a great day :D

[2016-10-13 21:45] Sheshank-s commented on #58
Whats that?

[2016-10-13 21:46] coke11 commented on #58
@GreenBayRules Oh - Just a commit you made, just making sure you didn't lose progress :)

[2016-10-13 21:46] Sheshank-s commented on #58
Oh ok.

[2016-10-13 21:57] Sheshank-s commented on #58
@coke11 Im back, ,anything I should do?

[2016-10-13 21:58] coke11 commented on #58
@GreenBayRules Just anything that is on Trello :)

[2016-10-13 21:58] Sheshank-s commented on #58
Ok.

[2016-10-13 23:01] zspri commented on #86
@GreenBayRules Wait, wait, wait! What?

[2016-10-13 23:12] coke11 commented on #86
@GreenBayRules Don't worry! He came back :)

[2016-10-13 23:14] zspri commented on #86
@coke11 Ah, ok

[2016-10-13 23:35] zspri commented on #86
Done with the code, I just need the profile pictures.

[2016-10-13 23:35] #86 closed

[2016-10-14 20:30] radioblahaj commented on #58
Thanks coke11!! I have been waiting for a response from one of the people
who own dragondrop! Thanks , ZEBRA p.s. I am a boy!
On Thu, Oct 13, 2016 at 5:58 PM Sheshank Shankar notifications@github.com
wrote:

[2016-10-14 21:53] Sheshank-s commented on #83
I will try to fix this :)

[2016-10-14 22:12] Sheshank-s commented on #83
Done :)

[2016-10-15 12:23] zspri commented on #83
@GreenBayRules Thanks!

[2016-10-15 12:23] #83 closed

[2016-10-16 14:16] Nanomotion opened #87 "Typed div not working"
It does this for a few seconds then returns to normal:
![capture](https://cloud.githubusercontent.com/assets/19719195/19418027/818c6820-9389-11e6-8a7b-81d93fd8e71c.PNG)

[2016-10-17 00:51] card100 commented on #87
Not sure how we should fix it

On Sun, Oct 16, 2016 at 9:16 AM, Nanomotion notifications@github.com
wrote:

[2016-10-17 20:38] Sheshank-s commented on #87
I know.. I didn't create that thing on the index. Ask @csf30816 I _think_ he made it. It  could be @coke11
I guess they should be the one assigned.

[2016-10-17 20:39] radioblahaj commented on #58
Hi @coke11 How is dragondrop going so far?
On Fri, Oct 14, 2016 at 4:29 PM narula arav aravnarula18@gmail.com wrote:

[2016-10-17 21:46] card100 opened #88 "Footer problem"
![footer problem](https://cloud.githubusercontent.com/assets/17168923/19456886/42cd275e-9489-11e6-8fa8-48b4c0d1b381.png)

[2016-10-17 22:56] coke11 commented on #58
@zebraislearning DragonDrop is doing great! We are considering your QA request currently :)

[2016-10-17 23:16] radioblahaj commented on #58
So would I be part of team!
On Mon, Oct 17, 2016 at 6:56 PM coke11 notifications@github.com wrote:

[2016-10-17 23:43] Sheshank-s commented on #58
Yeah. Once coke accepts your request.

---

From: Zebraislearning notifications@github.com
Sent: Monday, October 17, 2016 4:16:02 PM
To: dragon-drop-scratch/dragon-drop-www
Cc: Sheshank Shankar; Mention
Subject: Re: [dragon-drop-scratch/dragon-drop-www] Credits page (#58)

So would I be part of team!
On Mon, Oct 17, 2016 at 6:56 PM coke11 notifications@github.com wrote:

##

You are receiving this

[2016-10-17 23:43] radioblahaj commented on #58
THX
Warm regards,

Arav Narula

[code]

From: Sheshank Shankar notifications@github.com
Sent: Monday, October 17, 2016 7:43 PM
Subject: Re: [dragon-drop-scratch/dragon-drop-www] Credits page (#58)
To: dragon-drop-scratch/dragon-drop-www dragon-drop-www@noreply.github.com
Cc: Zebraislearning aravnarula18@gmail.com, Mention mention@noreply.github.com

Yeah. Once coke accepts your request.

---

From

[2016-10-18 10:49] zspri commented on #87
@GreenBayRules @card100 We could just get rid of it, or make it a GIF.

[2016-10-18 19:59] Nanomotion opened #89 "Browser Issue?"
I got bored at school and decided to go on DragonDrop using Firefox... The site looked a little bit weird
![capture](https://cloud.githubusercontent.com/assets/19719195/19494135/a7d65720-954b-11e6-9d4e-fdef8c0c6aad.PNG)
![capture2](https://cloud.githubusercontent.com/assets/19719195/19494144/ab5fa6e4-954b-11e6-81fa-f1238433011c.PNG)
Maybe we could add a banner that says <i>Things looking different

[2016-10-18 22:51] Sheshank-s commented on #89
Hm ok.. I never use Firefox at school.. I installed chrome.. But don't tell my teacher 😃

Sent from my iPhone

On Oct 18, 2016, at 1:00 PM, Nanomotion <notifications@github.com<mailto:notifications@github.com>> wrote:

I got bored at school and decided to go on DragonDrop using Firefox... The site looked a little bit weird
[capture]https://cloud.githubusercontent.com/assets/19719195/19494135/a7d65

[2016-10-19 11:19] zspri commented on #89
@GreenBayRules Lol, but how would we do the banner or should we even do it at all?

[2016-10-19 13:35] Sheshank-s commented on #89
Not sure

Sent from my iPhone

On Oct 19, 2016, at 4:19 AM, Nanomotion <notifications@github.com<mailto:notifications@github.com>> wrote:

@GreenBayRuleshttps://github.com/GreenBayRules Lol, but how would we do the banner or should we even do it at all?

##

You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/dragon-drop-scratch/drag

[2016-10-19 18:30] zspri commented on #89
I think we should :P

[2016-10-20 09:20] adri326 commented on #89
I always use firefox developer edition and it works nice. Could you grab the version of firefox that your school is "running"?

[2016-10-20 11:05] zspri commented on #89
@adri326 49.0.2.11on Windows 8.1 Pro

And I installed Firefox on my regular PC, so it may just be that either it's an outdated version of Firefox, or it's just because Windows 8.1 is an outdated OS.

[2016-10-20 14:26] card100 commented on #89
Does this help?:
http://stackoverflow.com/questions/9847580/how-to-detect-safari-chrome-ie-firefox-and-opera-browser

[2016-10-20 15:11] Sheshank-s commented on #89
It should... ask nanomotion

Sent from my iPhone

On Oct 20, 2016, at 7:26 AM, card100 <notifications@github.com<mailto:notifications@github.com>> wrote:

Does this help?:
http://stackoverflow.com/questions/9847580/how-to-detect-safari-chrome-ie-firefox-and-opera-browser

##

You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/dragon

[2016-10-20 22:00] zspri commented on #89
@card100 Yes, thanks. @GreenBayRules I get the `var` part, but how would we add the banner?

[code]

[2016-10-22 01:36] adri326 commented on #89
Have the banner as a simple element:
`<div id="browserBanner" style="visibility: hidden">Blah blah blah</div>`, then when the page has loaded (eventListener), just change the visibility to visible:

[code]

[2016-10-22 12:25] liam4 opened #90 "XSS Injection"
I found some SQL injection vulnerabilities:
- [Sign up SQL](https://github.com/dragon-drop-scratch/dragon-drop-www/blob/2267d68352a6dad6c0e5c4df5b6a79f49c6687cd/SignUpAndLoginRelated/scratcherSignUp.php#L27-L28), [again](https://github.com/dragon-drop-scratch/dragon-drop-www/blob/2267d68352a6dad6c0e5c4df5b6a79f49c6687cd/SignUpAndLoginRelated/signup.php#L34-L35)
- [Log in SQL](https://github.com/dr

[2016-10-22 22:08] csf30816 commented on #90
?

[2016-10-22 22:09] csf30816 commented on #90
OH I see... We give away table names

[2016-10-23 00:11] zspri commented on #89
@adri326 Yes, would you mind doing it? If you could, that'd be great.

[2016-10-23 05:08] adri326 commented on #89
Only on the index.html or server-wide?

[2016-10-23 05:33] adri326 commented on #89
Done! Need checking because I'm doing that from Bali on my dad's IPhone. The box doesn't have any style - typing on an iPhone is _painful_. Why did apple put every useful characters in the advanced special chars keyboard?

[2016-10-23 06:14] adri326 commented on #90
Wonderful vulnerabilities!
What is the PHP SQL escaping function? (The one with _real_ inside of it)

And I can't remember the 3 steps of protecting user inputted variables

[2016-10-23 14:36] zspri commented on #89
Thanks!

[2016-10-23 16:18] towerofnix commented on #90
No, that's not the issue. The issue is that I could do something like this..

![xkcd.com/327/](https://imgs.xkcd.com/comics/exploits_of_a_mom.png)

[2016-10-24 06:12] adri326 commented on #90
Oh yeah you saw this picture too!
What liam means is that we don't escape the user-inputed variables: the user could input a `"` and then put his own code - `DROP TABLE students` for example, and this can be very dangerous.

[2016-10-25 18:54] Sheshank-s commented on #89
You would have a div and u would set the inner html to visible true or something like that

Sent from my iPhone

On Oct 20, 2016, at 3:00 PM, Nanomotion <notifications@github.com<mailto:notifications@github.com>> wrote:

@card100https://github.com/card100 Yes, thanks. @GreenBayRuleshttps://github.com/GreenBayRules I get the var part, but how would we add the banner?

[code]

##

You are receiving

[2016-10-25 18:54] Sheshank-s commented on #89
What i meant

Sent from my iPhone

On Oct 21, 2016, at 6:36 PM, adri326 <notifications@github.com<mailto:notifications@github.com>> wrote:

Have the banner as a simple element:
<div id="browserBanner" style="visibility: hidden">Blah blah blah</div>, then when the page has loaded (eventListener), just change the visibility to shown:

function showBrowserBanner() {
  document.getElementById("browser

[2016-11-14 22:50] GreenBayRules opened #92 "FAQ errors"
![image](https://cloud.githubusercontent.com/assets/11379161/20285986/908aa538-aa79-11e6-8d93-2fac81434300.png)
There were a couple of glitches after cards update, they seem very minor it could just be typos.

I would do this, but as some of you know I cant work till December, so maybe someone else wants to fix it?

[2016-11-14 22:56] Sheshank-s commented on #90
Lol... I love your comics :)

[2016-11-18 15:04] zebraislearning commented on #88
SO

[2016-12-11 18:03] radioblahaj commented on #92
![errorfaqdragondrop](https://cloud.githubusercontent.com/assets/21000033/21082102/285692c2-bfa2-11e6-9287-efc14377b9ca.png)

Even i found the same thing! It looks pretty akward!

@coke11

[2016-12-13 18:04] MeridiumDevelopment commented on #92
Scanning over the code, there was an extra </div> which caused all the fancy containers to stop. After removing that, it's all done.

Thanks for bringing this up. Sorry for not checking it sooner

Closed

[2016-12-13 18:12] #92 closed

[2016-12-13 18:25] golden-scratch commented on #88
I'm seeing what I can do.

[2016-12-13 21:53] zspri commented on #92
@zebraislearning Coke11 is not the only one who is working on this project, feel free to tag any staff at any time.

[2016-12-13 21:55] zspri commented on #70
We could use a responsive navigation bar so it would be more mobile friendly, just like w3school's at http://www.w3schools.com/howto/howto_js_topnav.asp.

[2016-12-13 21:59] zspri commented on #70
Also, just an FYI: the Google Mobile Friendly Test says that our site isn't mobile friendly.
![capture](https://cloud.githubusercontent.com/assets/19719195/21161161/7e4befce-c155-11e6-8242-d1d100e72d2c.PNG)

[2016-12-13 23:58] Sheshank-s commented on #92
@nanomotion lol

Sent from my iPhone

On Dec 13, 2016, at 1:53 PM, Nanomotion <notifications@github.com<mailto:notifications@github.com>> wrote:

@zebraislearning<https://github.com/zebraislearning> Coke11 is not the only one who is working on this project, feel free to tag any staff at any time.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Gi

[2016-12-14 00:56] radioblahaj commented on #92
Sure I just did that for fun! @packersNfl

On Dec 13, 2016 6:58 PM, "Sheshank Shankar" <notifications@github.com>
wrote:

[2016-12-14 01:46] zspri commented on #92
@GreenBayRules ¯\\\_(ツ)_/¯

@zebraislearning "For fun"? lol

[2016-12-15 01:33] zspri commented on #68
Fixed all of the issues that we have control over, the other ones are in Youtube's coding.

[2016-12-15 01:33] #68 closed

[2016-12-22 22:19] herohamp opened #93 "MIT License"
that license means I can do ANYTHING with your code WITHOUT giving credit

[2016-12-22 22:22] haylinmoore commented on #93
use this license
https://creativecommons.org/licenses/by-nc-sa/4.0/

[2016-12-23 00:35] zspri commented on #93
Done, thanks for letting us know. Somehow I overlooked that when I was choosing the license.

[2016-12-23 00:35] #93 closed

[2017-01-24 13:56] coke11 commented on #70
Hey guys. This is what the problem is of the mobile friendliness of our site. We are redirecting all mobile users to a mobile page that is down, when we simply could just  be making some improvements to the code on the desktop site, and then it would look great on mobile. I am going to put this in the before release milestone, because the fix is not necessary atm.

BTW - @golden-scratch and I are

[2017-01-24 15:46] zspri commented on #70
Yes, we really should get started again on it. I'm relieved that I'm not the only one who still cares about DD!

But, back to the issue:
We _could_ use a redirect, but it probably isn't the best solution. Maybe http://www.practicalecommerce.com/articles/115764-make-your-website-mobile-friendly-now-3-ways could help us?

[2017-01-25 00:08] card100 commented on #70
Hola

On Tue, Jan 24, 2017 at 9:46 AM, Nanomotion <notifications@github.com>
wrote:

[2017-01-25 14:27] Nanomotion opened #94 "Relative links in pages"
There are several links that use "./" or "../".
They should be removed, as they can cause lots of errors.

For example:
[code]
shouldn't be used, instead use:
[code]
It may be longer, but it's worth it if you have to move pages around.

[2017-01-26 00:48] zspri commented on #62
I'll look into it 👌

[2017-01-26 00:49] coke11 commented on #62
@Nanomotion This is not an issue at the moment and does not need attention as we don't really have a system that we are following for the login and this is just another thing that we will end up changing later.

[2017-01-26 00:58] zspri commented on #62
@coke11 Okay, but at some point we need to set up the login before release.

[2017-01-26 00:59] coke11 commented on #62
Yes, that is why I put it in the backlog. I am going to change the label here just a second.

[2017-01-26 02:01] coke11 opened #95 "Nav Menu and Footer"
Can we make the nav menu and footer be their on file instead of being tied to the page, and then just have everything page reference it in the style sheet?

[2017-01-26 02:03] coke11 opened #96 "Node Mods."
We have these node mods, but we have decided we will be switching to SQL and PHP for our backend. Would it do any harm if we got rid of these?

[2017-01-26 02:09] coke11 commented on #94
The first thing †hat comes to mind when I see this is "When we move this to our servers will we have to change every single link again? The question we need to ask ourselves is "Is it better to have it so that if you change the format you don't need to go around changing it but when you change servers you do or vice versa? My vote is just leave it as it is, and if there is a problem, this cane be

[2017-01-26 02:11] coke11 commented on #90
Two things

1) @liam4 Do you want to join our team?
2) So where could the user brake this?

[2017-01-26 02:12] coke11 commented on #87
I can not repro this even If I try a thousand times. In order to prevent these kinds of things from happening again, even if we get them fixed is leaving better notes when you make a change.

[2017-01-26 02:13] #87 closed

[2017-01-26 02:19] zspri commented on #94
@coke11 True, but we need a more organized site in general.

[2017-01-26 02:59] towerofnix commented on #90
1. Not particularly.
2. The place I originally linked:

[code]

---

Suppose I give this signup data:

[code]

Now let's look at what gets put into the `$sql` variable:

[code]

..and then that SQL gets run (by `$conn->query($sql)`), two things happen:

1. The user I made gets inserted. Its name is `KoolKracker1337`, its pass is `foobar`, and its type is `_`.
2. The entire SQL table `scratch` is r

[2017-01-27 14:16] coke11 commented on #90
Yeah, I totally understand. I remember a while back we were actually testing the tables with IE haha. We are going to be using Auth0 for now on for sign in so we don't have to deal with all of this. ALSO - IS any of this happening because git does not support php (sorry if I'm stupid)

Last thing - do you read all of our code?

Thanks
coke

[2017-01-27 14:26] towerofnix commented on #90
Nah, that's not a stupid question! GitHub Pages (not git, that's just the command line tool for dealing with commits, repositories and such) doesn't support PHP, so, no, unless you put this on a production site that *did* support PHP, it wouldn't be a problem. But if you don't plan on ever using that code, you might consider removing it, since it's not going to be useful in the future.

Nope! I'm

[2017-01-27 23:24] csf30816 commented on #90
Yah, Auth0 is better.

[2017-01-28 16:15] coke11 commented on #90
@liam4 Thanks for your help! We are actually working on figuring out what we are going to "scrap", keep, and change with DragonDrop to make it super awesome, and we have already decided to take a load off our back we will only be using Auth0. When we are getting rid of all the old code on the day we put those plans into action, we will get rid of this code.
@csf30816 Hey there! Are you going to be

[2017-01-28 16:15] #90 closed

[2017-02-01 00:03] coke11 opened #97 "Login Change"
I know this is a little late, but I would like for our login to go. It's been a long ride, log in!

Here, allow me to explain.

The login we have right now is an awesome login. However, as we need more and more features we are using Auth0 anyway, and I think that we should just use Auth0 for everything. Another problem is that we have all of these test databases floating around, and we don't have

[2017-02-01 00:07] coke11 commented on #20
I am going to go ahead and close this issue because of #97

[2017-02-01 00:07] #20 closed

[2017-02-01 00:15] coke11 commented on #94
In my personal opinion <link rel="stylesheet" href="./Essentials/style.css> is much cleaner than <link rel="stylesheet" href="https://dragon-drop-scratch.github.io/dragon-drop-www/Essentials/style.css">. Am I understanding this wrong?

[2017-02-01 02:28] zspri commented on #94
Not necessarily, but it _is_ your opinion. Maybe http://www.coffeecup.com/help/articles/absolute-vs-relative-pathslinks/, https://yoast.com/dev-blog/relative-urls-issues/, and https://www.navegabem.com/absolute-or-relative-links.html would help?

[2017-02-01 02:39] zspri commented on #97
We could use the Google Login API. It's free and fairly easy to use.

[2017-02-01 21:05] coke11 commented on #89
Firefox is a big browser. Rather then telling people to switch why don't we just optimize our site for firefox?

[2017-02-01 21:18] coke11 commented on #70
@card100 Hey, how are you?

[2017-02-01 21:19] #62 closed

[2017-02-01 21:19] coke11 commented on #62
Closing because of #97

[2017-02-01 21:20] coke11 commented on #97
@Nanomotion We could use that AND Auth0... Auth0 is free for one login source.

[2017-02-01 21:29] zspri commented on #89
It's not just Firefox. There are other browsers that render the site differently. e.g., Edge:
![capture](https://cloud.githubusercontent.com/assets/19719195/22526999/840cdaa0-e89b-11e6-98bb-f12b6058eb7c.PNG)

But we should fix the CSS first, before we worry about this.

[2017-02-01 21:30] zspri commented on #97
True, to add more flexibility.

[2017-02-01 21:31] coke11 commented on #89
@Nanomotion Yeah, edge is pretty big too. We will need to fix it for all major browsers. We need to do a better job of getting the QA's checking every little things lol. (can you get on slack BTW)

[2017-02-01 21:32] zspri commented on #89
Yes, we will need to. Sure thing :P

[2017-02-01 22:05] Nanomotion opened #98 "Rethinking the Editor"
It has become apparent to me that the DragonDrop editor needs a huge redesign. Not in the design aspect, but rather coding aspect. When someone creates a website, I really would like the slogan "Create Your Website Easly in minutes" to be true. Although we have a great prototype going, we really need to make a way so the features we put in place are not as limited. If you don't know what I mean, d

[2017-02-01 22:10] Nanomotion opened #99 "Additional Projects"
These are projects we will need to do later:

- [ ] Analytics
- [ ] Tutorials
- [ ] "Made With DragonDrop" site
- [ ] DragonScript
- [ ] DragonEd (Education for DragonDrop)

[2017-02-01 22:15] Nanomotion opened #100 "Built-in Animation"
- [ ] Scroll bar
 - [ ] Navigation bar

[2017-02-01 22:16] Nanomotion opened #101 "Add Blog Feature to Editor"
We need to add a feature that allows a person creating their own website to make a blog. There will be an "Add Blog" button, which will take them through a process. Where they want the blog to be at, comments on, or off, etc.

Then once they have created their blog we will have a blog manager, so they can post, respond to comments, etc.

[2017-02-01 22:17] Nanomotion opened #102 "Multiple Pages in Editor"
We need to add a feature in the editor that allows users to create multiple pages. There should be a menu at the top of every site, and they can click on the menu (when in the editor) to add new pages. They could hide the menu if it was a one pager, and could add content to any page.

[2017-02-01 22:20] Nanomotion opened #103 "Right Click"
I think that when you have an element such as a text box, you should be able to right-click on it, and it will bring up a box of options. Such as the color, font, and text size. If you wanted to make a specific change for different parts of the text you could drag over, and then right click. It would only make edits to what you have dragged over. I really think this would work great, and it could

[2017-02-01 22:22] Nanomotion opened #104 "Animation"
We need to add animation sort of like this
https://www.youtube.com/watch?v=Qn8z0r9CR5E

- [ ] Picture animation
- [ ] Text animation
- [ ] Making animation menu appear

[2017-02-01 22:25] Nanomotion opened #105 "Tools"
We need to work on adding the tools below to the editor. These tools will show up on all kind of accounts.

 - [ ] Add Social Media Buttons Users Can Put In Footer
 - [ ] Add Social Media Feeds that User can put on Site
 - [ ] Slideshow (with photos)
- [ ] iFrame tool
- [ ] Be able to search for images, or upload them rather than having to find the URL and put it in. (but that    will still be an

[2017-02-01 22:28] Nanomotion opened #106 "Dashboard"
- [x] Create Top
 - [ ] icon home
 - [ ] messages (forum and messages from us)
 - [ ] Make web manage
 - [ ] make settings:
 - [ ] -forum/support profile
 - [ ] -danger zone:
 - [ ] --delete account
 - [ ] --reset account
 - [ ] --confirm email
 - [ ] Manage Sites:
 - [ ] -List of sites
 - [ ] -Edit site
 - [ ] -Delete site
 - [ ] -Create new site
 - [ ] -Duplicate site

[2017-02-01 22:30] Nanomotion opened #107 "Templates"
We need to have a spot in the editor where you can choose a template made by someone. We can just have a few really simple ones built in for now. You just do this in the editor, not before or after creating the site.

[2017-02-01 22:32] Nanomotion opened #108 "Idea for credits / testimonials / about page"
I was looking at Discord's website, and they had an interesting design. Maybe we could use a style like this for a few pages? https://discordapp.com/company

[2017-02-01 22:35] Nanomotion opened #109 "Translations"
Title

[2017-02-02 00:50] coke11 commented on #98
@Nanomotion Do you think you could add the list?

[2017-02-02 02:11] zspri commented on #98
I don't think there was a list with the Trello card.

[2017-02-03 23:31] card100 commented on #70
Good

[2017-02-04 00:15] card100 opened #110 "Home page needs work"
I almost think we should just redo it

[2017-02-04 02:23] zspri commented on #110
I agree, it needs a more simple, flat look.

[2017-02-04 02:27] zspri commented on #108
Finished this

[2017-02-04 02:27] #108 closed

[2017-02-04 03:29] coke11 commented on #110
@card100 @Nanomotion I am going to make a trello notice soon about this, and it is going to say we will remake the homepage. This just convinces me to make that notice, and say we aren't using trello anymore in that notice, haha

[2017-02-04 03:29] #110 closed

[2017-02-04 03:29] coke11 commented on #110
Closing because in this notice we will talk about it then

[2017-02-04 03:29] coke11 commented on #109
We don't need any translations yet, and can sort it out later.

[2017-02-04 03:29] #109 closed

[2017-02-04 03:30] coke11 commented on #107
@Nanomotion Yeah, we should continue to grow on this. More important right now is the actual technology to make it happen not the templates within.

[2017-02-04 03:31] coke11 commented on #106
With a bit of editing this is a great issue! (remind me tomorrow)

[2017-02-04 13:22] zspri commented on #106
Ok.

[2017-02-04 13:23] zspri commented on #107
@coke11 That's why I added it to the backlog milestone. ;)

[2017-02-04 13:29] Nanomotion opened #111 "Rename website and organization to "dragon-drop""
We don't really have anything to do with Scratch anymore.

[2017-02-04 14:59] card100 commented on #106
Hmm...

[2017-02-04 14:59] card100 commented on #105
I am working on a collection of different ways to show your Social Media Buttons on your website

[2017-02-04 15:03] card100 commented on #70
Will we have the editor on Mobile?

[2017-02-04 15:03] zspri commented on #105
@card100 Ok, check the items off of the list when you finish with them

[2017-02-04 15:04] zspri commented on #70
@card100 Probably not, we'll just have an app for mobile.

[2017-02-04 21:39] card100 commented on #70
ok

On Sat, Feb 4, 2017 at 9:04 AM, Nanomotion <notifications@github.com> wrote:

[2017-02-04 21:55] card100 commented on #106
Made Top:
http://codepen.io/card100/pen/Kaepqq
Will import to Git soon

[2017-02-04 22:06] coke11 opened #112 "iFrame tool in editor"
We need to add a tool in the editor that allows the user to add an iframe to their website.

[2017-02-04 22:10] coke11 commented on #97
The official course of action will be what has been discussed in the threads above this post.

[2017-02-05 22:20] coke11 commented on #98
@Nanomotion There was, but you don't need to worry about it. I have it under control.

[2017-02-06 13:27] zspri commented on #98
@coke11 Ok, thanks.

[2017-02-08 05:53] Cythral opened #114 "Structuring"
Looking at all aspects of the project (site, editor and backend), I'd like to start off by saying you all have done an excellent job so far. I think there are a couple things that need to be improved structurally in order to prevent the project from getting harder to maintain as it grows.

- [x] **Decide on PHP or Node or both** If I'm following the issues correctly, there are plans to convert the

[2017-02-09 02:30] Sheshank-s commented on #89
![image](https://cloud.githubusercontent.com/assets/11379161/22766838/9db50a86-ee2c-11e6-87b3-2ee94912db71.png)

[2017-02-09 22:38] zspri commented on #89
This is turning into "spot the differences"

Firefox:
![capture](https://cloud.githubusercontent.com/assets/19719195/22806119/8b244266-eeee-11e6-8c99-842f73b6d9fa.PNG)

Chrome:
![capture2](https://cloud.githubusercontent.com/assets/19719195/22806126/9667d520-eeee-11e6-9353-05b22f9d619a.PNG)

Edge:
![capture3](https://cloud.githubusercontent.com/assets/19719195/22806135/9c77240c-eeee-11e6-9d04-6068

[2017-02-09 22:39] zspri commented on #89
Closing this as irrelevant now.

[2017-02-09 22:39] #89 closed

[2017-02-09 22:57] zspri commented on #111
@card100 Why close the issue (without an explanation)?

[2017-02-09 23:01] card100 commented on #105
Added iframe tool

[2017-02-09 23:07] card100 commented on #94
I agree with coke

[2017-02-09 23:09] card100 opened #115 "What needs to get done"
We are really cluttering up the issues tab with things we need to add.  Note that you can edit this post to ^
_Note:_ all tools are [here](https://github.com/dragon-drop-scratch/dragon-drop-scratch.github.io/issues/105)
These are in order of priority:
_Before_

- [ ] New page button in editor

- [ ] [Dashboard](https://github.com/dragon-drop-scratch/dragon-drop-scratch.github.io/issues/106)

- [ ]

[2017-02-09 23:09] card100 commented on #112
Add to tool page

[2017-02-09 23:09] #112 closed

[2017-02-09 23:10] card100 commented on #107
https://github.com/dragon-drop-scratch/dragon-drop-scratch.github.io/issues/115

[2017-02-09 23:10] #107 closed

[2017-02-09 23:10] card100 commented on #104
Added to https://github.com/dragon-drop-scratch/dragon-drop-scratch.github.io/issues/115

[2017-02-09 23:10] #104 closed

[2017-02-09 23:10] card100 commented on #103
Added to https://github.com/dragon-drop-scratch/dragon-drop-scratch.github.io/issues/115

[2017-02-09 23:10] #103 closed

[2017-02-09 23:11] card100 commented on #102
Added to https://github.com/dragon-drop-scratch/dragon-drop-scratch.github.io/issues/115

[2017-02-09 23:11] #102 closed

[2017-02-09 23:11] card100 commented on #101
Added to https://github.com/dragon-drop-scratch/dragon-drop-scratch.github.io/issues/115

[2017-02-09 23:11] #101 closed

[2017-02-09 23:11] card100 commented on #99
All Added to https://github.com/dragon-drop-scratch/dragon-drop-scratch.github.io/issues/115

[2017-02-09 23:11] #99 closed

[2017-02-09 23:30] card100 opened #116 "Blogging features"
I think we should make sure to have these features in the blogging:

- [ ] New post button

- [ ] Signature

- [ ] Edit Post/Delete post

- [ ] Each post to have share on Twitter, Facebook, Etc. buttons

- [ ] Markdown?

- [ ] Blog on only special page

- [ ] Post date and time

- [ ] Be able to comment on post

[2017-02-09 23:43] card100 commented on #111
Oh, sorry, didn't mean to close
What's wrong with DragonDrop?

[2017-02-10 00:41] zspri commented on #111
The organization name is "dragon-drop-scratch", since we aren't as involved with Scratch anymore, should we change it to "dragon-drop" or "DragonDrop"?

[2017-02-10 00:48] zspri commented on #115
The issues would've been closed when they were done, there was no point in closing them.

[2017-02-10 00:49] zspri commented on #105
@card100 The iframe tool isn't showing up.

[2017-02-11 00:02] coke11 commented on #106
@card100 Can you make the dashboard go along with our color scheme better?
Would it also be possible to craft out the pages for this? And possibly make the links work?

[2017-02-11 00:04] coke11 commented on #116
I am going to close this issue for now. We are not ready to start working on blogging features, because we don't have a good backend system YET. When we are ready to start working on the blogging feature I will reopen this issue.

[2017-02-11 00:04] #116 closed

[2017-02-11 00:09] coke11 commented on #111
Yeah, I will fix this soon.

[2017-02-11 00:46] zspri commented on #111
Okay, thanks.

[2017-02-11 21:09] card100 opened #117 "Licences?"
Why is our licences CC? 1. I thought it was MIT, 2. CC is not for software

[2017-02-11 22:20] zspri commented on #117
https://creativecommons.org/faq/#can-i-apply-a-creative-commons-license-to-software
It is not recommended, but we _can_ use it.

MIT License gives you no rights to your software.

[2017-02-11 22:20] #117 closed

[2017-02-12 21:29] zspri commented on #111
@coke11 Could you also set the logo to our more updated one?
![dd](https://cloud.githubusercontent.com/assets/19719195/22866215/6d88ef82-f140-11e6-8fed-459497409e5d.png)

[2017-02-14 14:04] card100 opened #118 "Can't get padding to work"
Long story, basically I can't get the padding in /dash/index.html to work.  It is currently in the index file it's self  (for now).  For some reason won't work :/.  Anyone see anything?

[2017-02-14 22:09] zspri commented on #118
This is what I see:
![capture](https://cloud.githubusercontent.com/assets/19719195/22951759/5cd56c1c-f2d8-11e6-9e5a-67d37eedd6ce.PNG)

[2017-02-16 14:36] MeridiumDevelopment commented on #111
I think DragonDrop would be good.

Dragon-Drop just doesn't go well in my opinion.

[2017-02-16 23:57] zspri commented on #111
True, whatever Coke decides will be fine.

[2017-02-17 13:14] coke11 commented on #111
I thought we were going to make the green dragon logo red and then use @Cythral's other logo.

Also - I will change name now.

[2017-02-17 13:23] #111 closed

[2017-02-17 18:42] card100 commented on #118
Yes, top padding

[2017-02-18 02:40] csf30816 commented on #98
Hello in a new repository I will make a new Editor, the design will be different in both design and code aspects. I have spent the past 4 months practicing my design and programming skills. I will keep you informed on the new editor.

Thanks, - Csf30816.

[2017-02-18 13:17] coke11 commented on #98
@csf30816 I can tell from looking at http://drive.awatim.gq :D. Do you think it would be possible to just do it in the editor folder here?

[2017-02-18 20:19] csf30816 commented on #98
Yes, but first I must test it.

[2017-02-18 20:20] coke11 commented on #98
@csf30816 Awesome! Have you seen my Scratch comment?

[2017-02-19 03:53] csf30816 commented on #98
Yes

[2017-02-19 23:54] csf30816 opened #120 "Change to Front Page"
I have been thinking about maybe changing how to front page looks. I have started making a draft and I would like your opinions. I will post the HTML code up soon.

Thanks, -Csf30816

[2017-02-20 00:27] zspri commented on #120
We have a new design at https://github.com/dragon-drop-scratch/html-app

[2017-02-20 00:46] csf30816 commented on #120
Oh OK!

[code]

[2017-02-20 00:47] csf30816 commented on #120
Just in case.
http://scratchpad.io/smelly-songs-4464#fullscreen

[2017-02-20 01:25] csf30816 opened #121 "Security"
Do you think http://dragondrops.net needs SSL? If you do then I can work on setting up a SSL Certificate for Dragon Drop. By the way SSL is basically HTTP Security or HTTPS.

[2017-02-20 01:28] coke11 commented on #121
@csf30816 Yes - do you think you could go on Slack and guide me through putting SSL on it?

[2017-02-20 01:34] csf30816 commented on #121
Yes, what is the team name? It's been so long (:0)-]-<

[2017-02-20 01:40] coke11 commented on #121
dragondroporg

[2017-02-20 01:43] csf30816 commented on #121
Thx

[2017-02-20 01:45] coke11 commented on #121
@csf30816 Yep. Is it letting you in alright?

[2017-02-20 01:47] csf30816 commented on #121
No :(

[2017-02-20 01:49] coke11 commented on #121
Does the link not work or can you not figure out username and stuff?

[2017-02-20 01:50] csf30816 commented on #121
Username and stuff not working. What email did I signup with!!! ARGH...!! :)

[2017-02-20 01:50] coke11 commented on #121
the ttyl one

[2017-02-20 01:50] csf30816 commented on #121
OK, thanks!

[2017-02-20 01:51] coke11 commented on #121
np

[2017-02-20 01:55] csf30816 commented on #121
Um... Which one Admin or Support

[2017-02-20 01:55] coke11 commented on #121
Sorry admin

[2017-02-20 01:55] csf30816 commented on #121
We should just talk it out here :/

[2017-02-20 01:56] coke11 commented on #121
Well we will need slack anyways and it is faster and it has privacy if there are an passwords or anything so if possible we should try it this way.

[2017-02-20 01:58] csf30816 commented on #121
I got an idea

[2017-02-20 01:58] coke11 commented on #121
Alright

[2017-02-20 01:59] csf30816 commented on #121
Go to https://awatim.gq/ and click Chat Icon

[2017-02-20 02:01] coke11 commented on #121
That would work temporarily but I think it would be better just to get the long term thing sorted out. Is it not taking the username and pass or something?

[2017-02-20 02:02] csf30816 commented on #121
Yeah says email/pass is wrong

[2017-02-20 02:02] coke11 commented on #121
Are you using admin@ttyl.gq? You could try resetting the pass...

[2017-02-20 02:07] csf30816 commented on #121
I am in!

[2017-02-20 03:32] csf30816 commented on #121
I made a program that generates SSL Certificates. And one that generates UltraSecure passwords that can be millions of characters long!!

[2017-02-20 22:15] csf30816 commented on #121
so....

[2017-02-20 22:16] csf30816 opened #122 "SocialDragon"
Hello, I would like to tell you all about the unofficial DragonDrop Social Network!
http://SocialDrgaon.capnix.com
https://github.com/dragon-drop-scratch/socialdragon

[2017-02-20 22:19] coke11 commented on #121
If you get on slack we can talk about this

[2017-02-25 15:56] coke11 commented on #98
@csf30816 Could you get on slack?

[2017-02-25 20:14] csf30816 commented on #98
Sure

[2017-02-25 20:43] csf30816 commented on #98
Note: all my fixes are made here `https://dragon-drop-scratch.github.io/editor_test/editor/`

[2017-04-08 20:08] #122 closed

[2017-04-08 20:09] coke11 commented on #121
We have an SSL now, we can close this up.

[2017-04-08 20:09] #121 closed

[2017-04-08 23:43] #120 closed

[2017-04-10 21:32] Sheshank-s commented on #122
you spelled it wrong :P

[2017-05-04 21:07] Nanomotion opened #124 "Thank you"
Thank you for firing me.

[2017-05-04 21:08] coke11 commented on #124
Four things
1) I was mostly kidding
2) You could have just quit
3) Why?
4) Your welcome

[2017-05-04 21:10] coke11 commented on #124
You are not officially gone until I confirm you were not kidding. Were you or were you not

[2017-05-04 21:10] Nanomotion commented on #124
1. That's a horrible thing to joke about.
2. I was already thinking about it.
3. 1 and 2, and we're making pretty much no progress, and many more reasons.
4. Thanks again.

[2017-05-04 21:12] coke11 commented on #124
1. Sorry, however, you did say it and you have joked about worse things (I also said JK)
2. OK
3. That makes sense - there was progress on dragondrops.net though, and you could have helped
4. Your welcome, you were a great coder.

ALSO - How could csf and I get less annoying? Always trying to improve.

[2017-05-04 21:14] coke11 commented on #124
If you ever want to come back let me know, we will be open.

[2017-05-04 21:18] Nanomotion commented on #124
I was not kidding.

1. JK is like saying no offense. It means nothing.
2. --
3. You should have told me that there was work to do, I would have been happy to do it if I had time.
4. It was great being on the team while it lasted.

First of all, don't say things like twss. It's very unprofessional and I thought we were aiming to be professional. Secondly, being called things like a girl and gay is

[2017-05-04 21:23] csf30816 commented on #124
Ok I get that, sorry for calling you a girl. But to be honest you did say the 'f' word.

[2017-05-04 21:24] csf30816 commented on #124
Oh and your welcome.

[2017-05-04 21:25] Nanomotion commented on #124
I said it because I was at my boiling point, which both you and coke were pushing me to that limit. I already had a stressful day today and did not want to be bothered any more.

[2017-05-04 21:29] csf30816 commented on #124
Sorry to hear that. You did call me a ten year old. That is the equivalent of calling me a baby. But still not a big deal.

[2017-05-04 21:30] coke11 commented on #124
Ok, thank you for your time.

1 and other) I owe you an apology, I should have kept a better grip on what was going on, and drew a border between funny and mean. I personally wasn't trying to hurt your feelings and do not remember saying anything about you being gay, but that doesn't mean I didn't. And saying you were a girl I was just kidding, but am super sorry that it sounded like I was being m

[2017-05-04 21:57] GreenBayRules commented on #124
#WorstDayInDDHistory

[2017-05-04 23:13] Nanomotion commented on #124
@coke11 I owe you an apology too. I was overreacting at first.

--
Also there have been lots of times I've been unprofessional.

[2017-05-04 23:16] coke11 commented on #124
@Nanomotion It's alright - btw are you nanonew on the chat?

[2017-05-04 23:45] coke11 commented on #124
@Nanomotion Is it your or not?

[2017-05-05 01:00] coke11 commented on #124
@csf30816 Sorry - we were just trying to bring the mood up, but it totally backfired. Did we just lose another amazing member?

[2017-05-05 11:51] #124 closed

[2017-05-05 14:20] Janbuller commented on #124
I actually saw it 😄

[2017-05-05 15:25] Janbuller commented on #124
1: Nanomotion thought that coke11 had fired him when coke11 said JK in the end.
Nanomotion then said that it was like saying No Offense and that it meant nothing
2: Nanomotion didn't like being called "Gay" and "Girl" but coke11 didn't remember saying "Gay" but did remember calling him a "Girl" saying it was just for fun
3: Nanomotion thought that everything was unprofessional and thought that it

[2017-05-05 17:34] zspri commented on #124
@coke11 You can restrict the conversation to collaborators only

[2017-05-05 20:52] coke11 commented on #124
@Janbuller - That's fine  - I just decided that I should delete it so no one else did.

[2017-05-05 20:53] coke11 commented on #124
@Nanomotion How? Also, is one card still part of DragonDrop now?

[2017-05-05 21:02] zspri commented on #124
Click on 'Lock conversation' on the right. It can be -- I still want it to be, since I won't be able to complete it without someone who does backend. If you need I can invite the DD team to the OneCard org.

[2017-05-05 21:25] coke11 commented on #124
Yeah, I understand. You and CSF could just work on it?

[2017-05-12 00:58] iamunknown2 opened #126 "Rich text editing doesn't work"
The *italic*/**bold**/underline etc buttons don't actually do anything. It's not anything hard - I have it implemented in [my](https://iamunknown2.github.io/dragon-drop-remake/) rewrite of DragonDrop.

[2017-05-12 01:01] iamunknown2 opened #127 "Inflexible block manipulation"
* Can't drop blocks between blocks
* Can't reorder elements

I have implemented those features in my rewrite [here](https://iamunknown2.github.io/dragon-drop-remake/).

[2017-05-20 02:02] csf30816 opened #128 "Csf30816 does not have write access :("
Title explains.

[2017-05-22 18:05] csf30816 commented on #128
Bump. I do not have write access. I can only read and create pull requests. Hello? Any one hear me? @coke11

[2017-05-24 16:50] csf30816 commented on #128
Wow. What bad customer support, jk. I ain't no customer, I am a worker!

[2017-06-06 01:11] Sheshank-s commented on #128
lol Is it fixed now :)

[2017-06-14 03:10] csf30816 commented on #128
Yay!!

[2017-09-19 01:57] radioblahaj commented on #79
Wow. Everythingès Cool

[2017-09-19 01:59] radioblahaj commented on #97
Cool

[2017-09-19 03:41] Sheshank-s commented on #97
Why do you comment on this like 7 months after xD

[2017-09-19 03:43] Sheshank-s commented on #79
You don't have to comment on things that are dead xD

[2017-09-19 20:56] zspri commented on #79
I'm guessing that DragonDrop is no longer being worked on?

[2017-09-20 00:52] Sheshank-s commented on #79
Nope. To be honest, everything fell apart after you left :( @Nanomotion

[2017-09-20 00:53] radioblahaj commented on #79
Well. Guys, We Had Dragondrops. We Now Move On ! EVen Me! I'm Now A
Open-Source Coder FOr A Company!

On 19 September 2017 at 20:52, Sheshank Shankar <notifications@github.com>
wrote:

--

please do not send emails back till 24 hours!
thanks and sure to ge back to you,

please use these quick links,

https://plus.google.com/u/1/+narularvarav
https://www.youtube.com/channel/UCUzWg6Ek1hp4xwAlg_WMAiA

[2017-09-20 01:02] Sheshank-s commented on #79
Lol what company

[2017-09-20 01:03] radioblahaj commented on #79
can't remember!

On 19 September 2017 at 21:02, Sheshank Shankar <notifications@github.com>
wrote:

--

please do not send emails back till 24 hours!
thanks and sure to ge back to you,

please use these quick links,

https://plus.google.com/u/1/+narularvarav
https://www.youtube.com/channel/UCUzWg6Ek1hp4xwAlg_WMAiA

[2017-09-20 01:03] Sheshank-s commented on #79
:facepalm:

[2017-09-21 20:16] zspri commented on #79
So would you say I was the one holding it together? 🤔 @GreenBayRules

[2017-09-21 23:14] csf30816 commented on #79
No. Just summer. @coke11 got inactive. So everyone else got inactive. Nothing really to do with you :)

[2017-09-23 00:15] radioblahaj commented on #85
HEY!

[2017-09-23 13:30] MeridiumDevelopment commented on #79
If we were to get permission for coke11, we could carry it on until they/if they get more time to work on it.

[2017-09-23 17:33] zspri commented on #85
Please stop

[2017-09-23 17:34] zspri commented on #79
_I was the only one who could do good frontend and web design but fine_

[2017-09-23 18:48] radioblahaj commented on #79
Hey, I Can still help! But with Html This Tiem and front end.

[2017-09-23 23:45] csf30816 commented on #79
@Nanomotion I can do good frontend, although I was mainly backend. I just let you do all the work. Check this out: freevp.heliohost.org has good frontend and made it by myself.

[2017-09-24 00:38] Sheshank-s commented on #79
In my opinion yes @Nanomotion you were the person keeping us together.

[2017-09-24 12:57] zspri commented on #79
@csf30816 That looks great. I was joking, hence the italics.
@Torotv I don't think DragonDrop is being continued unfortunately.
@GreenBayRules Thanks e.e

[2017-09-24 14:09] radioblahaj commented on #79
@Nanomotion  Yeah, You're Right. Feels Sad. Ogh

[2017-09-24 14:09] #79 closed

[2017-09-24 16:20] Sheshank-s commented on #79
I can do pretty good front-end now i guess lol i sucked back when dragondrop was alive xD

[2017-09-26 19:20] redmangospros opened #129 "Your Link Dns Needs To be Renewed."
^^^^^^

[2017-09-28 21:58] zspri commented on #129
What part of "This project has been abandoned" do you not understand?

[2017-09-28 23:23] Sheshank-s commented on #129
@coke11 can you add "This has been abandoned" to the description plz?

[2017-10-10 20:59] RedMAngo22 commented on #129
I'm Forking all of dragondrop's stuff to make something with dragondrop code. I want help!

[2017-10-10 22:36] zspri commented on #129
If one of the org members can close this...

[2017-10-11 01:29] #129 closed

[2017-11-10 18:50] #70 closed

[2017-11-10 18:50] #88 closed

[2017-11-10 18:50] #94 closed

[2017-11-10 18:50] #95 closed

[2017-11-10 18:50] #96 closed

[2017-11-10 18:50] #97 closed

[2017-11-10 18:50] #98 closed

[2017-11-10 18:50] #100 closed

[2017-11-10 18:50] #105 closed

[2017-11-10 18:50] #106 closed

[2017-11-10 18:50] #114 closed

[2017-11-10 18:50] #115 closed

[2017-11-10 18:50] #118 closed

[2017-11-10 18:50] #126 closed

[2017-11-10 18:50] #127 closed

[2017-11-10 18:50] #128 closed

[2017-11-10 18:52] MeridiumDevelopment opened #130 "DragonDrop will not be continued. Do not post issues here."
DragonDrop is not going to be continued, due to coke11's inactivity and we can't keep the team together. Please do not use issues whatsoever anymore as they won't be seen or updated.

Do not close this "issue" - it is rather a note to those who like to still use this place.

-Seb

[2018-06-26 17:00] coke11 commented on #130
@MeridiumDevelopment I have no idea if you are active on here, but we haven't talked for awhile.. Just sent you an email :)

[2018-06-27 14:42] Sheshank-s commented on #130
@coke11  If you would like to contact him, talk to him on discord, he's usually active there.

[2018-06-27 14:42] Sheshank-s commented on #130
I think he mentioned this should stay open